{% extends 'finance/finance_base.html.twig' %}

{% block body %}
	<div id="all " class="autre-banner" style="">
			<div class="entrer ">
			<h2 class="text1" style="font-size:35px ">
				Qui sommes-nous ?
			</h2>
			<div class="line "></div><br>
			{% include('components/_link.html.twig')%}
			</div>
			</div>
	</div>

	<section id="all" class=" bg-gray p-lg-5 p-2" style="">
		<div class="container">
			<div class="row justify-content-center ">
				{% for propos in apropos  %}
					<div id="" class="  col-md-6 banner-finnance mt-2  ">
						<div class=" text-center">
							<h4 class="text-uppercase">{{ propos.titre  }}</h4>
						</div>
						<div>
							<p class="">{{ propos.description  |raw }}</p>
						</div>
					</div>
				{%  endfor  %}
			</div>
		</div>

	</section>
	<section>
	{% for directeur in directeur %}
		<div class="container  pt-5   pb-5   ">
				<div class="  row justify-content-center">
						<div class="" >
								<div class="row justify-content-center motdirecteur align-item-center ">
										<div class="col-md-4 col-sm-12 overflow-hidden rounded row align-item-center  justify-content-center" style="z-index: 2;">
												<img width="400px" class="rounded" src="assets/images/directeur/{{ directeur.image}}" alt="">
										</div>
										<div class="col-md-6 shadow rounded text-center bg-dark text-light motdirecteur_text " >
												<div class="m-3">
														<h4>{{ directeur.titre ? directeur.titre | capitalize  : ''  }}</h4>
														<div class="text-justify">
															{{ directeur.message ? directeur.message |raw  : '' }}
														</div>
														<div class="font-weight-bold">"   {{ directeur.directeur ? directeur.directeur : '' | raw }} "</div>
												</div>
										</div>
								</div>

						</div>

				</div>
		</div>
				{% endfor %}
	</section>
{% endblock %}
