{% extends 'finance/finance_base.html.twig' %}

{% block body %}

    <div id="all " class="autre-banner" style="">
        <div class="entrer ">
        {% for  message in app.flashes('contact_success') %}
          <div class="alert alert-warning ">
            {{ message }}
          </div>
      {% endfor %}
            <h2 class="text1" style="font-size:35px ">
               Contactez-nous
            </h2>
            <h4>Toute une equipe à votre écoute</h4>
            	<div class="line "></div><br>
          			{% include('components/_link.html.twig')%}

        </div>
    </div>
    <section class="bg-gray">
        <div class="container ">
            <div class="row " >
                <div class="col-md">
                    <div class=" position-relative p-4 p-lg-5 d-flex ">
                        <div class=" banner-icon d-flex justify-content-center rounded-circle  align-items-center  " style="">
                            <i class="far fa-map fa-2x"></i>
                        </div>
                        <div class="text pl-3">
                            <span class="h4 text-primary font-weight-bold">  Lomé-TOGO </span><br>
                            <span class="h5"> Agoè, non loin de leader price, dans le von de SOMAYAF, quatier Agoe kichidjan,</span>
                        </div>
                    </div>
                    <div class=" position-relative p-4 p-lg-5 d-flex ">
                        <div class="banner-icon  d-flex justify-content-center rounded-circle  align-items-center  " style="min-width: 60px;height: 60px;">
                            <i class="fa fa-phone fa-2x"></i>
                        </div>
                        <div class="pl-3">
                            <span class="h4 text-primary font-weight-bold">Téléphone </span><br>
                            <span class="h5"> +228 99 18 72 96    / +228 92 98 08 42 </span>
                        </div>
                    </div>
                    <div class=" position-relative p-4 p-lg-5  d-flex ">
                        <div class="banner-icon d-flex justify-content-center rounded-circle  align-items-center  " style="min-width: 60px;height: 60px;">
                            <i class="fa fa-envelope fa-2x"></i>
                        </div>
                        <div class="pl-3">
                            <span class="h4 text-primary font-weight-bold">Email </span><br>
                            <span class="h5"> ladatema@gmail.com /  info@ladatemaresearch.com  </span>
                        </div>
                    </div>
                </div>
                <div class="col-md">

                    <div class="shadow mt-2 p-2 contact-banner ">
                        {{ form_start(form) }}
                        <div class="col">
                            <label for="nom"> Nom</label>
                            {{ form_widget(form.nom) }}
                             {{ form_errors(form.nom) }}

                        </div>

                        <div class="col">
                            <label for="email"> Votre mail </label>
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}

                        </div>
                        <div class="col">
                            <label for="telephone"> Votre Telephone </label>
                            {{ form_widget(form.telephone) }}
                            {{ form_errors(form.telephone) }}

                        </div>
                        <div class="col">
                            <label for="message"> Votre message </label>
                            {{ form_widget(form.message) }}

                        </div>
                        <div id=" col">
                            <button  type="submit"  class="banner-btn shadow ml-3" > <i class="fa fa-send"></i><span>Envoyer</span> </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid map mt-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15867.24230698377!2d1.254567!3d6.156119!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x629ace57f21f9fd0!2sLADATEMA%20RESEARCH%20SARL!5e0!3m2!1sen!2stg!4v1619092143913!5m2!1sen!2stg" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>




{% endblock %}
