{% extends 'finance/finance_base.html.twig' %}

{% block body  %}
    <span id="section1">
		 <section  class="content-banner" style="  background-image: url('vector/pexels-rebrand-cities.jpg');">
             <div class="container p-sm-4 ">
         	<div class="entrer ">
				<h3 class="text1 ">
					Ladatema Finance
				</h3>
				<h5 class="">La Gestion de votre entreprise en toute quiétude</h5>
				<h6>  comptabiité - Fiscalité – Gestion</h6>
          {% include('components/_link.html.twig')%}
				<div id="btn">
		<a href="{{ path('finance_contact') }}"  class="banner-btn shadow"> <i class="fa fa-phone"></i> <span>Contactez-nous </span></a>
	</div>
			</div>
        </div>

    </section>
	</span>
    <h1 id="section1" class="text-center title">
        A propos
    </h1>
    <section id="section2" class="" >
            <div class="container vector-sortable">
                <div class="flex-wrap d-flex flex-row justify-content-around">

            {% if apropos  %}
            <div class="col-md-4 banner-finance shadow-lg text-light  ">
                <h4 class="">
                    {{ apropos.Titre }}
                </h4>
                 
                      {{ apropos.description |   truncate(200,'...')| raw  }}
                 
                </div>
                <div class=" col-md-4   overflow-hidden row justify-content-center" >
                <img style="width:100% ;border-radius: 8px;" class="" src="/vector/pexels-artem-podrez-6779714.jpg">
            </div>
          {% endif %}
                </div>
                <div class=" text-center m-4">
                    <a class="banner-btn shadow" href="{{ path("finance_propos")}}" role="button">
                        <span>savoir Plus</span>
                        <i class="fa fa-plus"></i>
                    </a>

                </div>
            </div>
    </section>

    <section class="">

    </section>
    <h1 id="section1  " class="text-center title " >Nos Services</h1>
    <section id="section2" class="service bg-gray">
        <div class="">
            <div class="m-lg-5 ">
                <div class="container p-5 ">
                            <div class="row  justify-content-around">
                                {% for service in services %}
                                    {% if service %}
                                        <div class="col-lg-5  service-info p-3">
                                            <h4 class=""> {{ service.titre }}</h4>
                                            <p class="text-justify">
                                                {{ service.description | raw  }}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>


                </div>

                <div class=" text-center m-4">
                    <a class="banner-btn shadow" href="{{ path("finance_service")}}" role="button">
                        <span>En savoir Plus  </span>
                        <i class="fa fa-plus"></i>
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section class="" id="banner-info">
            <div class="banner-propose">
                <div class="container p-5" >
                    <div class="d-flex  flex-wrap  justify-content-center">
                        <div class="col-md-5" id="" >
                            <img src="vector/istockphoto-1188452509-612x612.jpg"  class="img-fluid shadow " alt="" style="border-radius:8px ">
                        </div>
                        <div class=" col-md-5 d-flex flex-column justify-content-center " id="title2">
                            <h2 class="title" >Vous avez  besoin de nos services ?</h2>
                            <h5>
                               Nous somme à  votre  entière dispositon
                            </h5>
                            <div class=" ">
                                <a class="banner-btn shadow" href="{{ path("finance_propos")}}" role="button">
                                    <span>Contact </span>
                                    <i class="fa fa-phone "> </i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>
    <section class="">
    {% for directeur in directeur %}
      <div class="container  pt-5   pb-5   ">
          <div class="  row justify-content-center">
              <div class="" >
                  <div class="row justify-content-center motdirecteur align-item-center ">
                      <div class="col-md-4 col-sm-12 overflow-hidden rounded row align-item-center  justify-content-center" style="z-index: 2;">
                          <img width="400px" class="rounded" src="assets/images/directeur/{{ directeur.image}}" alt="">
                      </div>
                      <div class="col-md-6 shadow rounded text-center bg-dark text-light motdirecteur_text " >
                          <div class="m-3">
                              <h4>{{ directeur.titre ? directeur.titre | capitalize  : ''  }}</h4>
                              <div class="text-justify">
                                {{ directeur.message ? directeur.message |raw  : '' }}
                              </div>
                              <div class="font-weight-bold">"   {{ directeur.directeur ? directeur.directeur : '' | raw }} "</div>
                          </div>
                      </div>
                  </div>

              </div>

          </div>
      </div>
          {% endfor %}
    </section>
    </section>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>
{% endblock %}
