<ul class="navbar-nav m-auto ">
    <li class="nav-item" role="presentation">
        <a class="nav-link " href="{{ path('finance_home') }}">Accueil</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link " href="{{ path('finance_propos') }}">A propos</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link t" href="{{ path('finance_service') }}">Nos Services</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link " href="{{ path('finance_contact') }}">Contact</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Document et Conseil
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Document</a>
            <a class="dropdown-item" href="#">Conseim</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
    </li>
</ul>
<form action="" id="header-btn" class="form-inline my-2 my-lg-0">
    <a href="{{ path('rh_home') }}"  class="header-btn shadow my-2 my-sm-0 "> Resource humaine</a>
</form>