{% extends 'finance/finance_base.html.twig' %}

{% block body %}

    <div id="all " class="autre-banner" style="">
        <div class="entrer ">
            <h2 class="text1" style="font-size:35px ">
                Nos Services
            </h2>
            	<div class="line "></div><br>
            			{% include('components/_link.html.twig')%}

        </div>
    </div>
    <section class="bg-gray">
        <div class="pt-5 ">
            <div class="container d-flex justify-content-center flex-column align-items-center ">
                {% for service in services %}
                    <div class=" service transcale shadow mt-3  mb-5  " style="  width: fit-content;">
                    {% if service.image %}
                        <div class="" >
                            <img class="" src="{{ asset('/images/service/'~service.image) }}" alt="">
                        </div>
                    {% endif %}
                        <div class="col-md">
                            <div class="card-body ">
                                <h3 class=" service-title">{{ service.titre }}</h3>

                                <div class="service-text">
                                    {{ service.description | raw  }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor  %}
            </div>
            <div class="text-center"></div>
        </div>
    </section>

</div>
{% endblock %}
