<form method="post" action="{{ path('admin_mot_directeur_delete', {'id': motdirecteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motdirecteur.id) }}">
    <button class="btn">Delete</button>
</form>
