{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.directeur) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.message) }}
    <button type="submit" name="submitbtn"  class="btn btn-primary ">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
