{% extends 'admin/admin_base.html.twig' %}

{% block title %}Motdirecteur index{% endblock %}

{% block body %}


    <div class="container-fluid">
        <div class=" ">
        {% for message in app.flashes('mot_success') %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endfor %}
        {% for message in app.flashes('mot_update') %}
          <div class="alert alert-info">
            {{ message }}
          </div>
        {% endfor %}
        {% for message in app.flashes('mot_delete') %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endfor %}
        <div class="col-md row mb-4">
        
            <div class="col mb-4">
              <div class="card  mb-4">
                  <div class=" p-3">
                      <h2 class="m-0 ">Formulaire</h2>
                  </div>
                  <div class="card-body">
                      {{ include('admin/mot_directeur/_form.html.twig', {'button_label': 'Enregistrer'}) }}

                  </div>
              </div>
            </div>
          <div class="col mb-4">

              <div class="">
              <table class="table table-hover  bg-white">
                  <thead class="bg-dark text-white">
                      <tr>
                          <th>Titre</th>
                          <th>Message</th>
                          <th>Date</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for motdirecteur in motdirecteurs %}
                      <tr>
                          <td>{{ motdirecteur.titre }}</td>
                          <td>{{ motdirecteur.message |  truncate(200,'...') |raw  }}</td>
                          <td>{{ motdirecteur.dateAt ? motdirecteur.dateAt|date('Y-m-d H:i:s') : '' }}</td>
                          <td class="row ">
                              <a class="btn text-primary " href="{{ path('admin_mot_directeur_update', {'id': motdirecteur.id}) }}"> <i class="fa fa-edit"></i></a>
                              <form method="post" action="{{ path('admin_mot_directeur_delete',{'id': motdirecteur.id})}}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motdirecteur.id) }}">
                                  <button class="btn text-primary"> <i class="fa fa-trash"></i></button>
                              </form>

                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="5">Aucun Message</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
          </div>
   

        </div>
    <div>
{% endblock %}
