{% extends 'base.html.twig' %}

{% block title %}New Motdirecteur{% endblock %}

{% block body %}
    <h1>Create new Motdirecteur</h1>

    {{ include('admin_mot_directeur/_form.html.twig') }}

    <a href="{{ path('admin_mot_directeur_index') }}">back to list</a>
{% endblock %}
