{% extends 'base.html.twig' %}

{% block title %}Motdirecteur{% endblock %}

{% block body %}
    <h1>Motdirecteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ motdirecteur.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ motdirecteur.titre }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ motdirecteur.message }}</td>
            </tr>
            <tr>
                <th>DateAt</th>
                <td>{{ motdirecteur.dateAt ? motdirecteur.dateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_mot_directeur_index') }}">back to list</a>

    <a href="{{ path('admin_mot_directeur_edit', {'id': motdirecteur.id}) }}">edit</a>

    {{ include('admin_mot_directeur/_delete_form.html.twig') }}
{% endblock %}
