{% extends 'admin/admin_base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <h1 class="h3 mb-0 text-gray-800">Liste des candidats  <a class="btn btn-success m-2" href="{{ path('csv.candidat') }}">exporter les données</a></h1>
   
    <div class="table-responsive">
      <table class="table bg-white text-dark table-hover" id="example" width="100%" cellspacing="0">
        <thead>
          <tr class="bg-dark text-light">
            <th>Nom et prenom</th>
            <th>Sexe</th>
            <th>Email</th>
            <th>metier</th>
			<th>Disponibilité</th>
            <th>Pays-ville</th>
            <th>Téléphone</th>
          </tr>
        </thead>
        <tbody>
          {% for candidat in candidats %}
            <tr>
              <td>
                {% if candidat.nom is defined and candidat.prenom is defined %}
                  {{ candidat.nom }}
                  {{ candidat.prenom }}
                {% endif %}
              </td>
              <td>
                {% if candidat.sexe %}
                  <span>{{candidat.sexe }}</span>
                {% else %}
                  <span>Masculin</span>
                {% endif %}
              </td>
              <td>{{ candidat.email }}</td>

              <td>
                {% if candidat.metier is defined %}
                  {{ candidat.metier }}
                {% endif %}
              </td>
			    <td>
                {% if candidat.isavailable %}
                  <span class="badge  badge-success">oui</span>
                {% else %}
                  <span class="badge  badge-danger">nom</span>
                {% endif %}
              </td>
              <td>
              
                  {{ candidat.pays }}
                {% if candidat.ville != null  %}
                  -{{ candidat.ville }}
                {% endif %}
              </td>
            
              <td>
                {% if candidat.telephone is defined %}
                  {{ candidat.telephone }}
                {% endif %}
              </td>
           
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
