{% extends "admin/admin_base.html.twig" %}


{% block body %}
	<div class="container-fluid ">
	<h1 class="h3 mb-0 text-gray-800">Liste des recruteurs 	 <a class="btn btn-success m-2 " href="{{path('csv.recruteur')}}">exporter les données</a>
	</h1>

	<div class="table-responsive   ">
		<table class="table bg-white table-hover  " id="example" width="100%" cellspacing="0">
			<thead>
				<tr class="bg-dark text-light">
					<th>Nom et prenom</th>
					<th>Email</th>
					<th>Site web </th>
					<th>Téléphone</th>
			
				</tr>
			</thead>
			<tbody>
				{% for recruteur in recruteurs %}
					<tr>
						<td>
							{% if recruteur.nom is  defined and recruteur.prenom is defined %}
								{{ recruteur.nom }}
								{{ recruteur.prenom }}
						    {% endif %}
						</td>
						<td>{{ recruteur.email }}</td>
						<td> 
						{% if recruteur.siteweb is defined %}
								{{ recruteur.siteweb }}
							{% endif %}
						</td>
						<td>
							{% if recruteur.telephone is defined %}
								{{ recruteur.telephone }}
							{% endif %}
						</td>
                       
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>

{% endblock %}
