{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        {% for message in app.flashes('utilisateur_spp') %}
            <div class="alert alert-info">
                {{ message  }}
            </div>
        {% endfor %}
    <h1 class="h3 mb-0 text-gray-800">Liste des administrateur </h1>
       <a class="btn btn-success m-2" href="{{path('admin_new_admin')}}">Ajouter un admin </a>
<div class="table-responsive">
    <table class="table  table-hover shadow table-bordered" id="example" width="100%" cellspacing="0">
        <thead>
        <tr class="bg-primary text-light">
            <th>Type</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Téléphone</th>
           
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Type</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>plus</th>
        </tr>
        </tfoot>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {%  if 'ROLE_CAN' in user.roles  %}
                        <span class="text-light">Candidat</span>
                    {% elseif 'ROLE_REC' in user.roles %}
                        <span class="text-light">Recruteur</span>
                    {% elseif 'ROLE_ADMIN' in user.roles %}
                        <span class="">Admin</span>
                    {% endif %}
                </td>
                <td>{% if user.nom is  defined %}
                        {%  if 'ROLE_CAN' in user.roles  %}
                            {{ user.nom }}
                        {% elseif 'ROLE_REC' in user.roles %}
                            {{ user.nom }}
                        {% endif %}
                    {% else %}
                        ---
                    {% endif %}</td>
                <td>{% if user.prenom is  defined %}
                        {%  if 'ROLE_CAN' in user.roles  %}
                            {{ user.prenom }}
                        {% elseif 'ROLE_REC' in user.roles %}
                            {{ user.prenom }}
                        {% endif %}
                    {% else %}
                        ---
                    {% endif %}</td>
                <td>{{ user.email }}</td>
                <td> {% if user.telephone is defined %}
                            {{ user.telephone }}
                    {% endif %}</td>
                <td>
                    <!-- <a href="{{ path('userdelete',{id: user.email}) }}" onsubmit=" alert('Voulez vous vraiment supprimer ??')">
                    <i class="fa fa-trash"></i>
                </a>-->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}