{{ form_start(form) }}

{{form_row(form.titre)}}
{{form_row(form.etablissement)}}
{{form_row(form.contenu)}}

<div class="row">
    <div class="col"> {{ form_row(form.date_debut)}}</div>
    <div class="col">{{ form_row(form.date_fin)}}</div>
</div> 
<div class="d-flex align-items-center justify-content-between ">
     <button class="btn banner-btn shadow mt-2" type="submit">
       <span> <i class="fa fa-save"></i></span> Enregistrer 
    </button>
    <a href="{{ path('candidat')}}" class=" btn  Text-muted"> Annuler </a>

</div>
{{ form_end(form) }}
