<div>

    {{ form_start(form)  }}

    {{form_row(form.titre)}}
    {{form_row(form.evaluation)}}
    {{form_row(form.contenu)}}
    <button class="btn header-btn  " type="submit">
       <span> <i class="fa fa-save"></i></span> Enregistrer 
    </button>

    {{ form_end(form) }}
</div>