{% extends "user/user_base.html.twig" %}
{% block body %}
	{% if is_granted('ROLE_CAN') %}
	<div class="container mt-5 p-5">
		<div class="row d-flex justify-content-center" >
			<div class="col-md-10 mt-5  ">
				<div class="row justify-content-center  ">
				
					<div class="col-sm-8 bg-white rounded-right mb-3">
						<h4 class="mt-3 text-center text-uppercase">Mis ajour du cv </h4>
						
						<div class="row justify-content-center mt-5 ">
							{% if app.user.cv  %}
							<h6 class="text-muted m-5 ">Supprimer pour pouvoir mettre a jour  <br>
								<a href="{{ path('cv_delete')}}" class=" btn btn-danger shadow	mt-4"> <i class="fa fa-trash mr-1 "></i>Supprimer </a>
								<a href="{{ path('candidat') }}" class=" btn mt-4"> </i>Revenir a l'acceuil </a></h6>
							{% else %}
						</div>


						{{form_start(form)}}

						<div class="">
							{{form_row(form.file)}}
						</div>

						<button class="header-btn  border-0 " type="submit">
							Enregistrer
							<span>
							<i class="fa fa-save"></i>
						</span>
						</button>
						<a href="{{ path('candidat') }}" class=" "> Retourner a l'acceuil </a>


						{{form_end(form)}}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
