{% extends "user/user_base.html.twig" %}

{% block body %}
	{% if is_granted('ROLE_CAN') %}
	<div class="container mt-5 ">
		{% for message in  app.flashes('modifprofil') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="row d-flex justify-content-center p-2 " >
			<div class="col-md-12 mt-5  round  shadow-lg" style="">
				<div class="row  ">
					<div class="col-sm-4 bg-dark rounded-left">
						<div class="card-body text-center text-white">
							{% if app.user.avatar %}
								<img class="card-img w-50" src="{{ asset('assets/users/profil/'~ app.user.avatar.filename) }}" alt="{{ app.user.nom }}">
							{% else %}
									<i class="far fa-user fa-2x mt-5"></i>
							{% endif %}

							<h6 class="font-weight-bold mt-4">
								{{ app.user.nom | upper }} {{ app.user.prenom }}
							</h6>
							
						{% if app.user.isavailable %}
							<div class="">
										{% if app.user.isavailable %}
											<p class=""> disponible ? : <span class="badge badge-success ">Oui </span> </p> 
										{% else %}
											<span>Oui</span>
										{% endif %}
									
							</div>
							{% endif %}
							<br>
							<div class="menu mt-3  ">
								<a href="{{ path('cv') }}" class="menu-item"> <i class="fa fa-user  mr-1"></i> <span>votre cv</span>  </a>
								<a href="{{ path('info') }}" class="menu-item"> <i class="fa fa-user-circle"></i> <span>Profile</span></a>
								<a href="{{ path('photo') }}" class="menu-item"> <i class="fa fa-user"></i> <span>photo de profil</span></a>
								<a  href="{{ path('password.change') }}" class="menu-item "><i class="fa fa-user-circle"></i>
										<span>
											Changer de mot de passe
                						</span>
									</a>
								<a href="{{ path('logout')}}" class=" btn-deconnect  "> Deconnection </a>
							</div>
						</div>
					</div>
					<div class="col-sm-8 bg-white rounded-right">
						<h4 class="mt-3 mb-3 text-left ">Information</h4>
						<div>
						<p>
						{% if app.user.metier and  app.user.cv and app.user.niveau and app.user.pays %}

								{% else %}
									<small class="alert ">completer votre profile pour béneficier d'une visiblité sur le site   </small>
								{% endif %}
						</p>
						</div>
						<div class="row  rounded-lg  m-1 p-2 " style="background-color: #80808014 ;">
							<div class="col-sm-6">
								<p class="d-inline">Email :</p>
								<h6 class="text-muted">
									 {{app.user.username}}
									</h6>
							</div>
							{% if app.user.telephone %}
							<div class="col-sm-6">
								<p class="">Téléphone : </p>
								<h6 class="text-muted">
										{{ app.user.telephone }}
									</h6>
							</div>
							{% endif %}
							
							{% if app.user.niveau %}
								<div class="col-sm-6">
									<p class="">Niveau d'etude : </p>
									<h6 class="text-muted">
										{% if app.user.niveau == "bepc" %}
										BEPC
										{% else %}
										{{app.user.niveau}} ans
										{% endif %} 
									</h6>
								</div>
							{% endif %}
							{% if app.user.metier %}
								<div class="col-sm-6">
									<p class="">metier </p>
									<h6 class="text-muted">
										{{ app.user.metier}} 
									</h6>
								</div>
							{% endif %}
							{% if app.user.ville %}
								<div class="col-sm-6">
									<p class="">Ville : </p>
									<h6 class="text-muted">
										{{app.user.ville}} 
									</h6>
								</div>
							{% endif %}
								{% if app.user.pays %}
								<div class="col-sm-6">
									<p class="">Pays: </p>
									<h6 class="text-muted">
										{{ app.user.pays}} 
									</h6>
								</div>
							{% endif %}
						</div>
						


						<div>
							<h4 class="mt-3">Formations <span class="float-right"><a href="{{ path('new_formation') }}" class="btn "> <i class="fa fa-plus"></i> Formation </a></span></h4>
							{% if formations  %}
								<table class="table table-hover     ">
								<thead>
								<tr class="  ">
									<td>Titre de la formation</td>
									<td>Editer</td>
									<td>supprimer</td>
								</tr>
								</thead>
								<tbody>
								{% for formation  in formations %}
									<tr>
										<td>{{ formation.titre }}</td>
										<td>
											<a class="text-primary " href="{{ path('formation_delete', {id: formation.id }) }}"><i class="fa fa-trash"></i></a>
										</td>
										<td>
											<a class="text-primary "  href="{{ path('formation_update', {id: formation.id }) }}"><i class="fa fa-edit"></i></a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							{% else %}
							<p class="text-muted text-normal text-center py-3 " style="background-color: #80808014 ;" > Vous n'avez aucune Formations  veuillez   <a href="{{ path('new_formation') }}"> definir ici </a></p>
						
							{% endif %}
						</div>
						<div>
							<h4 class="mt-3">Experiences <span class="float-right"><a href="{{ path('new_competence') }}" class="btn "> <i class="fa fa-plus"></i> experience </a></span></h4>
							{% if competences  %}
								<table class="table table-hover     ">
								<thead>
								<tr class="  ">
									<td>Titre de la competence</td>
									<td>Evaluation</td>
									<td>Editer</td>
									<td>supprimer</td>
								</tr>
								</thead>
								<tbody>
								{% for competence  in competences %}
									<tr>
										<td>{{ competence.titre }}</td>
										<td>{{ competence.evaluation }} %</td>
										<td>
											<a href="{{ path('update_competence', {id: competence.id }) }}"><i class="fa fa-edit"></i></a>
										</td>
										<td>
											<a href="{{ path('delete_competence', {id: competence.id }) }}"><i class="fa fa-trash"></i></a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							{% else %}

							<p class="text-muted text-normal text-center py-3 " style="background-color: #80808014 ;" > Vous n'avez aucune Experiences  veuillez   <a href="{{ path('new_competence') }}"> definir ici </a></p>
							{% endif %}
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}{% block javascripts %}<script>
$('#myModal2').on('shown.bs.modal', function () {
$('#myInput').focus()
})</script>

{% endblock %}
