{% extends "user/user_base.html.twig" %}

{% block body %}
	{% if is_granted('ROLE_CAN') %}
		<div class="container mt-5 p-5 ">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 mt-5 round  shadow">
					<div class="row justify-content-center ">

						<div class="col bg-white rounded-right mb-3">
							<h4 class="mt-3 text-center text-uppercase">Modification du profil
							</h4>

							<div class="mt-3 ">
								{{form_start(form)}}
								<div class="row">
									<div class="col-md ">{{form_row(form.isavailable)}}</div>
									
								</div>
								<div class="row ">
									<div class="col-md">{{ form_row(form.nom) }}</div>
									<div class="col-md">{{ form_row(form.prenom) }}</div>
								
								</div>
								<div class="row">
									<div class="col-md">{{ form_row(form.niveau) }}</div>
									<div class="col-md">{{ form_row(form.telephone) }}</div>
								</div>
								<div class="row">
									<div class="col-md">{{ form_row(form.secteur) }}</div>
									<div class="col-md">{{ form_row(form.metier) }}</div>
										<div class="col-md">{{ form_row(form.ville) }}</div>
								</div>
								<div class="row">
									<div class="col-md">{{ form_row(form.pays) }}</div>
									<div class="col-md">{{ form_row(form.anexp) }}</div>
									<div class="col-md">{{ form_row(form.sexe) }}</div>
								</div>

								<div class="row">
									<div class="col-md">
										{{ form_row(form.description) }}
									</div>
								</div>


								<button class="btn  header-btn shadow " type="submit">
									<span>
										<i class="fa fa-save"></i>
									</span>
									Enregistrer

								</button>
								{{form_end(form)}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endblock %}
