<div class=" mt-4 sidebar-category sidebar-default " style="border:0px">
    <div class="category-title">
        <span>  Menu</span>
    </div>
    <div class="category-content">
        <ul id="fruits-nav" class="nav flex-column">
            <li class="nav-item">
                <a href="{{ path('new_competence') }}" class="nav-link">
                    <i class="fa fa-folder-open" aria-hidden="true"></i> Formation
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('new_competence') }}" class="nav-link">
                    <i class="fa fa-folder-open" aria-hidden="true"></i> Experience
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('new_competence') }}" class="nav-link">
                    <i class="fa fa-folder-open" aria-hidden="true"></i> competence
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>Mon cv
                </a>
            </li>
            <li class="nav-item">
                <a href="#other-fruits" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="other-fruits">
                    <i class="fa fa-folder-open" aria-hidden="true"></i> Mes indentifiants
                </a>
                <ul id="other-fruits" class="flex-column collapse">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa  fa-folder" aria-hidden="true"></i> ...
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-pencil" aria-hidden="true"></i> ...
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>