{% extends "user/user_base.html.twig" %}

{% block body %}
{% if is_granted('ROLE_CAN') %}
<section class="loginpage bg-dark">
    <div class="container">
      <div class="p-lg-5 m-lg-5 d-flex justify-content-center h-100 align-items-center">
		<div class="card shadow-lg">
							<div class="card-body">
								{% include 'user/candidat/_form2.html.twig' %}
							</div>
						</div>
	</div>
</section>
					{% endif %}
				{% endblock %}
