{% extends "user/user_base.html.twig" %}

{% block body %}
{% if is_granted('ROLE_CAN') %}

  <section class="loginpage bg-dark position-relative">
     		
    <div class="container">
      <div class="p-lg-5 m-lg-5 d-flex justify-content-center h-100 align-items-center">
		<div class="card shadow-lg rounded-0" style="width: 70% !important ;">
		{% for message in app.flashes('error_date') %}
              <div class="alert alert-danger text-center ">{{ message }}</div>
            {% endfor %}
			<div class="card-body">
				{% include 'user/candidat/_form.html.twig' %}
			</div>
		</div>
	</div>
</section>	
{%  endif %}
{% endblock %}
