{% extends 'rh/rh_base_con.html.twig' %}

{% block title %}
  Log in!
{% endblock %}

{% block body %}
  <section class="loginpage bg-dark">
    <div class="container">
      <div class="p-lg-5 m-lg-5 d-flex justify-content-center h-100 align-items-center">
        <div class="card col-lg-6 shadow-lg">
          <form method="post" class="p-3" class="w-100">
            <h3 class="text-center mb-3">Connection</h3>
            {% for message in app.flashes('newsletter') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('compte-activer') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
             {% for message in app.flashes('cp') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
            {% if error %}
              <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
              <div class="mb-3">
                Vous etes connceté au nom de {{ app.user.username }}, <a href="{{ path('logout') }}">Deconnection</a>
              </div>
            {% endif %}
            <br>
            <div class="my-3">
              <label for="d-block ">Identifiant (mail)</label>
              <input type="text" value="{{ last_username }}" name="email" id="inputEmail" aria-label="Votre mail" aria-describedby="basic-addon1" class="form-control col" required placeholder="Votre adresse mail..." />
            </div>
     
            <div class="my-2">
              <label for="">Mot de passe</label>
              <input type="password" name="password" id="inputPassword" aria-label="Mot de passe" aria-describedby="basic-addon2" class="form-control col" required placeholder="Votre Mot de passe..." />
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <div class="form-row ml-1 mt-4 mb-2 form-check">
              <input class="form-check-input" type="checkbox" name="_remember_me" />
              <label class="form-check-label">se souvernir de moi</label>
            </div>
            <div class="form-row  d-flex align-items-center">
              <div class="col">
                <button type="submit" class="btn banner-btn  mt-2">connexion</button>
              </div>
              
                <a href="{{path('app.forget.email')}}" class=" mb-3 text-danger">Mot de passe oublié ?</a>
            
            </div>
             <div>
            <p class="text-center text-sm mt-4">Vous n'avez pas de compte ? <a href="{{ path('inscription')}}">Cliquer ici </a>  </p>
          </div>
          </form>
         
        </div>
      </div>
    </div>
  </section>
{% endblock %}
