{%  extends 'base.html.twig' %}

{% block body %}
<span id="section1">
	<section class="content-banner" style="  background-image: url('vector/istockphoto-1191817260-612x612.jpg'); ">
		<div class="container p-sm-4">
			<div class="entrer ">
				<h3 class="text1 " style="margin-top : 50px ;">
					Ladatema Research
				</h3>
				<h5 class="">La Gestion de votre entreprise en toute quiétude</h5>
				<h6>Objectivité – Transparence – Confidentialité</h6>
				{% include('components/_link.html.twig')%}

				<div id="btn">

					<a href="{{ path('finance_propos') }}" class="banner-btn2 btn  shadow">
						<i class="fa fa-users"></i>
						<span>A propos</span>
					</a>

				</div>
			</div>
		</div>
	</section>
</span>


{# <section class="banner-img" style=" ">
	<div id="banner-info" class="container ">
		<div class="d-flex flex-wrap justify-content-around">

			{% if aproposfinance %}
				<div class=" col-md banner-finance shadow-lg text-light h-auto  	">
						<div class="">
						
							<h4 class="h4 text-capitalize pt-lg-3">
								{{ aproposfinance.titre}}
							</h4>
							
							{{ aproposfinance.description | truncate(450,'...')| raw  }}
							
					
						</div>
				</div>
			{% endif %}

			{% if aproposrh %}

				<div class=" banner-rh col-md-4 text-light     shadow-lg">

							<div class="">
							<h4 class="">
								{{ aproposrh.titre}}
							</h4>
							<p>
							{{ aproposrh.description |truncate(250,'...')| raw }}
							</p>

						</div>
				</div>
			{% endif %}
		</div>
		<div class=" text-center m-4">
			<a class="banner-btn shadow" href="{{ path("finance_propos")}}" role="button">
				<span>savoir Plus</span>
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</div>
</section> #}
<section id="section2" class="">
	<div class="container py-5  vector-sortable">
		<div class="flex-wrap d-flex flex-row align-items-center justify-content-around">

			{% if aproposfinance  %}
				<div class="col-md banner-finance   ">
					<h4 class="text-left text-dark">
						{{ aproposfinance.Titre }}
					</h4>

					{{ aproposfinance.description | striptags | truncate(400,'...')| raw  }}
					<br>
					<a class="btn banner-btn2 shadow" href="{{ path("finance_propos")}}" role="button">
						<span>savoir Plus</span>
					</a>
					<a href="{{ path('finance_contact') }}" class="banner-btn3 btn px-2  ">
						<i class="fa fa-phone"></i>
						<span>Contactez-nous
						</span>
					</a>
				</div>
				<div class=" col-md-4   overflow-hidden row justify-content-center">
					<img class="img-fluid " styles="object-fit: cover !important ;" src="{{asset('assets/img/carlos-muza-hpjSkU2UYSU-unsplash(1).jpg')}}">
				</div>
			{% endif %}
		</div>
		<div class=" text-center m-4"></div>
	</div>
</section>

<section class="offre bg-gray">
	{% include('components/_offre.html.twig') %}
	<div>
		<div class="text-center">
			<a href="{{ path("rh_offre")}}" class="banner-btn shadow">
				Toutes nos offres
				<i class="fa fa-sticky-note-o"></i>
			</a>
		</div>
	</div>
</section>

{% if candidats != null %}
	<h2 class="text-center title">
		Profils récents</h2>
	<section class="offre">
		{% include('components/_profil.html.twig') %}
		<div class="text-center">
			<a href="{{ path("rh_cv")}}" class="banner-btn shadow">
				Touts nos profils
				<i class="fa fa-sticky-note-o"></i>
			</a>
		</div>
	</section>

{% endif %}

{% include "components/inscription.html.twig" %}

<section class="partenaire p-3  p-lg-5 ">
<div class="">
	<div class="container">
		<h2 class="text-center  p-lg-3 p-2">Ils nous ont fait confiance</h2>
		<div class="row  ">
			<div class="col-md">
				<div class="d-flex flex-wrap banner-logo justify-content-start m-5">

					<div class="owl-carousel owl-2 owl-theme">
						{% for partenaire in partenaires %}
							<div class="item">
								<div class=" " style="height:100px;background-image: url('assets/images/partenaires/{{partenaire.image}}'); background-size: contain; background-repeat: no-repeat;background-position: center"></div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

{% include('components/_stats.html.twig')%}
<section class="p-lg-5 p-3">
	<h2 class="text-center p-lg-3  ">Leurs avis
	</h2>
	<div class="owl-carousel   owl-theme  {% if avis | length  ==  1  %} owl-6  {% elseif avis | length  ==  2  %}  owl-7 {% else %} owl-5  {% endif %}">
		{% for avis in avis  %}
			<div class="item">
				<div class="" style="display: flex ; justify-content: center ; align-content: center">
					<div class="rounded-circle d-flex  shadow " style="width: 100px; height: 100px ; overflow:hidden; border: 3px solid var(--primary-color)">
						{% if avis.image  %}
							<img class="" style="objects-fit:cover; width:100%;" src="{{ vich_uploader_asset(avis, 'imageFile') }}" alt="">
						{% else %}
							<img class="" src="assets/img/male.jpg" alt="">
						{% endif %}
					</div>
				</div>
				<div class="shadow bg-white text-center overflow-hidden" style="border-radius: 8px ;">
					<div class="text-muted " style="min-height: 100px;
																justify-content: center;
																align-items: center;
																padding: 10px;
																display: flex;">
						{{ avis.commentaire | raw  }}
					</div>
					<div class="card-footer bg-dark text-light text-center font-weight-bold  ">
						{{ avis.nom | upper  }}
						{{ avis.prenom }}
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
</section>

{% include "components/newsletter.html.twig" %}{% endblock %}
