{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        {% for message in app.flashes('type_new') %}
            <div class="alert alert-success">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('type_modif') %}
            <div class="alert alert-warning">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('type_del') %}
            <div class="alert alert-warning">
                {{ message  }}
            </div>
        {% endfor %}
        <div class="d-flex">

            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card  mb-4">
                <div class="p-3">
                  <h2 class="m-0  "> catgories de Contrat</h2>
                </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class=""> {{ form_row(form.nom) }} </div>

                        <div class=""> {{ form_row(form.description) }} </div>
                        <button  type="submit" class="btn btn-primary ">
                            Enregistrer
                            <span class="fa fa-save"></span>
                        </button>
                
                        {{ form_end(form) }}
                    </div>
              </div>
            </div>

              <div class="col-lg-6 mb-4">


                <div class="card-body">
                    <table class="table bg-white   table-hover  table-bordered ">
                        <thead class="bg-dark text-light">
                            <tr>
                                <td> #</td>
                                <td>Nom</td>
                                <td>Description </td>
                                 <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>

                        {% for cat in cats %}
                        <tr>
                            <td> {{ cat.id }} </td>
                            <td>{{ cat.description | raw  }}</td>
                            <td>{{cat.nom}} </td>
                             <td>
                               <a class="btn-sm text-primary" href="{{ path("categoris_contrat_update",{'id': cat.id })}}"> <i class="fa fa-pencil-alt"></i></a> |
                                 {% if cat.offres | length == 0 %}
                                     <a class="btn-sm text-primary" href="{{ path("categoris_contrat_delete",{'id': cat.id })}}"> <i class="fa fa-trash-alt"></i></a>
                                 {% endif %}

                             </td>
                             </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
              </div>
            </div>

        </div>


    </div>

{% endblock %}
