{% extends 'base.html.twig' %}

{% block title %}LADATEMA | Error page {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="p-5 m-lg-5 ">
  <div class="container m-lg-5 ">
  <div class="example-wrapper">
      <h2 class="text-muted mt-3 ">Page non disponible :)  </h2><br>
      <small>{{ controller_name }}! ✅</small>
      <br><br>
      <ul>
          <li>Accueil finance  <code><a href="{{ 'E:/projects/ladatema/src/Controller/ErrorPageController.php'|file_link(0) }}">Cliquer-ici</a></code></li>
          <li> Accueil Ressource Humaine <code><a href="{{ 'E:/projects/ladatema/templates/error_page/index.html.twig'|file_link(0) }}">Cliquer-ici</a></code></li>
      </ul>
  </div>
  </div>
</div>

{% endblock %}
