{% extends 'rh/rh_base_con.html.twig' %}


{% block body %}

	<section class="loginpage bg-dark">
		<div class="container  ">

			<div class=" p-lg-5 m-lg-5  d-flex justify-content-center h-100   align-items-center">
				<div class="card col-lg-6 shadow-lg ">

                <div class="p-3">
                  <h3 class="text-center mb-3 capitalize  ">Inscrption du <span class="text-success">Candidat </span></h3>
					{% for flashError in app.flashes('loginemail') %}
						<div class="alert alert-danger" role="alert">{{ flashError }}</div>
					{% endfor %}
					{{ form_start(form) }}
					{{ form_row(form.nom) }}
					{{ form_row(form.prenom) }}
					{{ form_row(form.email) }}
					{{ form_row(form.plainPassword) }}

					<button class="btn banner-btn shadow mt-2" type="submit">
						<span>
							Enregistrer
						</span>
						<i class="fa fa-save"></i>
					</button>

					{{ form_end(form) }}
                </div>
                    
				</div>
			</div>
		</div>

	</sectino>

{% endblock %}
