<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>LADATEMABOOT</title>
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome-all.min.css') }}">

	<link rel="stylesheet" href=" {{ asset('assets/css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href=" {{ asset('assets/css/owl.theme.default.min.css') }}">
	<link rel="stylesheet" href=" {{ asset('assets/css/Pretty-Footer.css') }}">
	<link rel="stylesheet" href=" {{ asset('assets/css/Sidebar-1-1.css') }}">
	<link rel="stylesheet" href=" {{ asset('assets/css/Sidebar-1.css') }}">
	<link rel="stylesheet" href=" {{ asset('assets/css/styles.css') }}">
	<link rel="stylesheet" href=" {{ asset('assets/css/datepicker.css') }}">
	<link rel="stylesheet" href=" {{ asset('owlcarousel/assets/owl.carousel.min.css') }}">
	<link rel="stylesheet" href=" {{ asset('owlcarousel/assets/owl.theme.default.min.css') }}">
	<link rel="shortcut icon " type="image/png" href="{{ asset('assets/img/logo/logo.png') }}">

	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) |raw  }}
</head>

<body>
{% include 'components/loader.html.twig' %}
<header>
	<div id="navbar" class="header-inner">
		<div class="container-fluid px-lg-5">
			<nav class="navbar navbar-expand-sm my-navbar">

				<a class="navbar-brand" href="#">
                        <span class="logo">
                            <img  class="img-fluid" style="width: 50px; margin: -3px 0px 0px 0px;" src="{{ asset('assets/img/logo/logo.png') }}" alt="" title="LADATEMA RESAERCH">
                            <span class="logo-text">Ladatema Research</span>
                        </span>
				</a>
				<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon">
                            <i class="fas fa-bars" style="margin: 5px 0px 0px 0px"></i>
                        </span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav m-auto ">
						<li class="nav-item" role="presentation">
							<a class="nav-link " href="{{ path('rh_home') }}">Accueil</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link " href="{{ path('rh_offre') }}">Candidat</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link t" href="{{ path('rh_cv')}}">Cv-thèque</a>
						</li>

						<!-- Dropdown 
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Document et Conseil
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('documents') }}">Docs</a>
								<a class="dropdown-item" href="{{ path('conseils') }}">conseils</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Gallery</a>
						</li>-->
					</ul>
					<form action="" id="header-btn" class="form-inline my-2 my-lg-0">
						<a href="{{ path('login') }}"  class="header-btn shadow my-2 my-sm-0 ">Connexion</a>
					</form>
				</div>
			</nav>
		</div>
	</div>
</header>

{% block body %}

{% endblock %}
{% include'footerbase.html.twig' %}
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/Card-Carousel.js') }}"></script>
<script src="{{ asset('assets/js/datepicker.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.waypoints.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.counterup.min.js')}}"></script>
<script src="{{ asset('owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/scrollreveal.js') }}"></script>
<script src="{{ asset('assets/js/app.js')}}"></script>

{% block javascripts %}{% endblock %}
</body>

</html>
