{% extends'registration2/inscriptionbase.html.twig' %}

{% block body %}
 
    <div class="  m-5 p-5 row justify-content-between container mx-auto align-items-center " style="height: 100vh">
       
        
          <div class="card col-md-5 shadow p-2 " style="height: fit-content;">
            <div class="card-body text-center" style="border-radius: 10px">
              <h4 class="card-title ">
                Vous êtes <span class="text-success">Candidat</span> </h4>
              <p class="card-text"> Pour créer un compte candidat pour pouvoir  postuler  aux offres d'emploi au plus vite</p>
              <h6 class="text-primary card-subtitle font-weight-bolder mb-2 mt-5 ">
                <a href="{{ path('app_register_candidat')}}" class="header-btn">Cliquer-ici</a>
              </h6>
            </div>
          </div>
          <div class="card col-md-5  shadow p-2 " style="height: fit-content;">
            <div class="card-body text-center" >
              <h4 class="card-title ">
                Vous êtes <span class="text-warning">Recruteur</span> 
              </h4>
              <p class="card-text">
                 Pour créer un compte recruteur ,pour pouvoir publier des offres emploi
              </p>
              <h6 class="text-primary card-subtitle font-weight-bolder mb-2 mt-5">
                <a class="header-btn" href="{{ path('app_register_recruteur')}}">Cliquer-ici</a>
              </h6>
            </div>
          </div>

    
    </div>
{% endblock %}
