{% extends 'rh/rh_base_con.html.twig' %}


{% block body %}
	<section class="loginpage bg-dark">
		<div class="container  ">

			<div class=" p-lg-5 m-lg-5  d-flex justify-content-center h-100   align-items-center">
				<div class="card col-lg-6 shadow-lg ">

                <div class="p-3">
                  <h3 class="text-center mb-3 capitalize  ">Inscrption du <span class="text-warning">Recruteur  </span></h3>
					{% for flashError in app.flashes('loginemail') %}
								<div class="alert alert-danger" role="alert">{{ flashError }}</div>
							{% endfor %}
							{{ form_start(form) }}

							{{ form_row(form.nom) }}
							{{ form_row(form.prenom) }}
							{{ form_row(form.numimatricul) }}
							{{ form_row(form.email) }}
							{{ form_row(form.plainPassword) }}
							<button class=" btn banner-btn shadow mt-2 " type="submit">
						<span>
							Enregistrer
						</span>
								
							</button>

							{{ form_end(form) }}
                </div>
                    
				</div>
			</div>
		</div>

	</sectino>
	{# <div class="jumbotron inscription-bg" style="margin-top: 70px">
		<div class="container">
			{% if app.user  %}
			<div class="row justify-content-center">
				<div>
					<h1 class="text-light">Vous etes deja Connecter </h1>
					<a class="btn rounded-0 btn-primary" href="{{ path('logout') }}">
						<span>Deconnection</span>
						<i class="fa fa-user"></i>
					</a>
				</div>
			</div>
			{% else %}
			<div class="row justify-content-lg-between">
				<div class=" col-md text-light ">

					<h1 class=" mb-3">Inscription du recruteur </h1>
					<i class="fa fa-users fa-4x "></i>
					<p class="h6 text-light " ></pp>
				</div>
				<div class="col-lg-5 col-md-5 col-xl-7">

					<!-- Project Card Example -->
					<div class="card shadow mb-4 shadow-lg banner-form mt-2">
						<div class="card-body">

							{% for flashError in app.flashes('verify_email_error') %}
								<div class="alert alert-danger" role="alert">{{ flashError }}</div>
							{% endfor %}
							{{ form_start(form) }}

							{{ form_row(form.nom) }}
							{{ form_row(form.prenom) }}
							{{ form_row(form.numimatricul) }}
							{{ form_row(form.email) }}
							{{ form_row(form.plainPassword) }}
							<button class=" btn banner-btn shadow" type="submit">
						<span>
							Enregistrer
						</span>
								<i class="fa fa-save"></i>
							</button>

							{{ form_end(form) }}
						</div>

					</div>
				</div>

			</div>
		</div>

		{% endif %}
		</div>
	</div> #}



{% endblock %}
