{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="container-fluid">
 {% for message in app.flashes('partenaire_update') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
             {% for message in app.flashes('partenaire_new') %}
              <div class="alert alert-warning text-center">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('partenaire_delete') %}
              <div class="alert alert-danger text-center">{{ message }}</div>
            {% endfor %}
        <div class="d-flex">

            <div class="col-lg-6 mb-4">
                <div class="card  mb-4">
                    <div class="p-3">
                        <h2 class="m-0 ">Catégorie</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class=""> {{ form_row(form.nom) }} </div>
            
                        <button  type="submit"class="btn btn-primary">
                            Enregistrer
                            <span class="fa fa-save"></span>
                        </button>
                       
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="">
                   
                    <div class="">
                        <table class="table table-hover bg-white  " id="example">
                            <thead class="bg-dark text-light">
                            <tr>
                                <td> #</td>
                                <td>Nom </td>
                                
                                <td>Editer</td>
                                <td>suppr</td>
                            </tr>
                            </thead>
                            <tbody>

                           {% for cat in categories %}
                                <tr class="text-center">
                                    <td> {{ cat.id }} </td>
                                    <td>{{ cat.nom | raw  }}</td>
                                    <td class=" ">
                                        <a class="btn btn-primary text-light " href="{{ path("edit.categoris",{'id': cat.id })}}"> <i class="fa fa-pencil-alt"></i></a>
                                    </td>
                                    <td>
                                        {# <a class="btn-sm text-primary" href="{{ path("admin_partenaire_delete",{'id': part.id })}}"> <i class="fa fa-trash-alt"></i></a> #}
                                      

                                        {% if cat.emails | length == 0  %}
                                            <form class="" action="{{path('delete.categoris',{'id': cat.id })}}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                               <input type="hidden" name="_token" value="{{ csrf_token('delete'~ cat.id)}}">
                                            <button class="btn text-light btn-danger" type="submit" name="button"><i class="fa fa-trash-alt"></i></button>
                                        </form>
                                        {% endif %}
                                       
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>








{% endblock %}
