{% extends 'admin/admin_base.html.twig' %}
{% block body %}
  {% for message in app.flashes('email_success') %}
    <div class="alert alert-success m-5">{{ message }}</div>
  {% endfor %}
  <div class="d-flex justify-content-center">
    <div class="col-md">
      <!-- Project Card Example -->
      <div class="card mb-4">
        <div class="p-3">
          <h2 class="m-0">Nouvel newsletter</h2>
        </div>
        <div class="card-body">
          {{ form_start(form) }}
          {{ form_row(form.titre) }}
          {{ form_row(form.categories) }}
          {{ form_row(form.contenu) }}

          <button type="submit" class="btn btn-primary">
            Enregistrer
            <span class="fa fa-save"></span>
          </button>

          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h1 class="h3 mb-0 text-gray-800">Liste des Newsletter</h1>
    <div class="card-body">
      <table class="table rounded-sm table-bordered bg-white" id="example" width="100%" cellspacing="0">
        <thead class="bg-dark text-light">
          <tr class="">
            <td>Tire</td>
            <td>Date</td>
            <td>categories</td>
            <td>inscrits</td> 
            <td>Actions</td>
          </tr>
        </thead>
        <tbody class="t">
          {% set i = 0 %}
          {% for item in newsletters %}
            {% set i = i + 1 %}
            <tr>
              <td>{{ item.titre }}</td>
              <td>{{ item.createdat|date }}</td>
              <td>{{ item.categories.nom }}</td>
              <td>{{ item.categories.emails|length }}</td>
              <td>
                {% if item.isSent == false  %}
                  <a class="btn btn-sm btn-success" href="{{ path('admin_newsletter_send', { id: item.id }) }}">Envoyer</a>
                {% else %}
                déjà envoyé !
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
