 {{ form_start(form)}}
{{ form_row(form.email) }}
<div class="row">
    <div class="col-md ">{{ form_row(form.nom) }}</div>
    <div class="col-md ">{{ form_row(form.prenom) }}</div>
    <div class="col-md ">{{ form_row(form.telephone) }}</div>
</div>
<div class="row">
    <div class="col-md ">  {{ form_row(form.nomemtreprise) }}</div>
    <div class="col-md ">  {{ form_row(form.siteweb) }}</div>
    <div class="col-md ">  {{ form_row(form.numimatricul) }}</div>
</div>
<div class="row">
    <div class="col-md ">  {{ form_row(form.adresse) }}</div>
    <div class="col-md "> {{ form_row(form.ville) }}</div>
</div>
<div class="row">
   <div class="col-md"> {{ form_row(form.description) }}</div>
</div>
 <button  type="submit" class=" btn header-btn shadow button-outline">
                 <span class="fa fa-save"></span>
                Enregistrer
               
    </button>
{{ form_end(form) }}