{% extends "user/user_base.html.twig" %}

{% block body %}
{% if is_granted('ROLE_REC') %}
	<div class="container mt-5 p-5">
		{% for message in  app.flashes('modifprofil') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="row d-flex justify-content-center" >
			<div class="col-md-12 mt-5 round  border-sm shadow-sm">
				<div class="row  ">
					<div class="col-sm-4 bg-dark rounded-left">
						<div class="card-body text-center text-white">
							{#
							{% if app.user.avatar %}
								<img class="card-img w-25 rounded-lg" src="{{ asset('users/profil/'~app.user.avatar.filename) }}" alt="{{ app.user.avatar.filename}}"/>
							{% else %}
								<i class="far fa-user fa-7x mt-5"></i>
							{% endif %}#}


							<p class="mt-2">
								{% if app.user.avatar %}
									<div>
							<img class="card-img w-50" src="{{ asset('assets/users/profil/'~app.user.avatar.filename) }}" alt="{{ app.user.nom }}">
							<h6 class=" mt-4">
								{{ app.user.nom | upper }} {{ app.user.prenom }}
							</h6>
						</div>
								{% endif %}
								{% if app.user.nomemtreprise %}
								<h5 class=""> Entreprise : {{ app.user.nomemtreprise }}</h5>
								{% else %}
									<small class="alert alert-info  "> completer votre profil  </small>
								{% endif %}

							</p>


							<div class="menu mt-3 ">
								<a  href="{{ path('recru_offre') }}" class=" menu-item">
									<i class="fa fa-plus"></i>
									<span>
                   					Nouvel offre
									</span>
								</a>
								<a href="{{ path('photo') }}" class="menu-item" >
									<i class="fa fa-user"></i> <span>photo de profil</span> </a>

									<a  href="{{ path('modification') }}" class="menu-item "><i class="fa fa-user-circle"></i>
										<span>
											Identifiant
                						</span>
									</a>
									<a href="{{ path('photo') }}" class="menu-item" >
									<i class="fa fa-user"></i> <span>photo de profil</span> </a>

									<a  href="{{ path('password.change') }}" class="menu-item "><i class="fa fa-user-circle"></i>
										<span>
											Changer de mot de passe
                						</span>
									</a>
								<a href="{{ path('logout')}}" class=" btn-deconnect  "> Deconnection </a>
							</div>
						</div>
					</div>
					<div class="col-sm-8 bg-white rounded-right">
						<h4 class="mt-3 text-left mb-3 ">Information</h4>
						<div class="row">
							<div class="col-sm-6">
								<p class="">Email: </p>
								<h6 class="text-muted">{{app.user.username}}</h6>
							</div>
							{% if app.user.telephone %}
								<div class="col-sm-6">
									<p class="">Téléphone: </p>
									<h6 class="text-muted">
										{{ app.user.telephone}}
									</h6>
								</div>
							{% endif %}

							{% if app.user.ville %}
								<div class="col-sm-6">
									<p class="">
										Siège:
									</p>
									<h6 class="text-muted">
										{{ app.user.ville}}
									</h6>
								</div>
							{% endif %}
							{% if app.user.adresse %}
								<div class="col-sm-6">
									<p class="">Adresse :
									</p>
									<h6 class="text-muted">
										{{ app.user.adresse}}
									</h6>
								</div>
							{% endif %}
							{% if app.user.numimatricul %}
								<div class="col-sm-6">
									<p class="">Matricule </p>
									<h6 class="text-muted">
										{{ app.user.numimatricul}}
									</h6>
								</div>
							{% endif %}
							{% if app.user.siteweb %}
								<div class="col-sm-6">
									<p class="">Site web  </p>
									<h6 class="text-muted">
										<a href="https://{{ app.user.siteweb }}" onclick="window.open(this.href);return false">
											{{ app.user.siteweb }}
										</a>
									</h6>
								</div>
							{% endif %}
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="mt-5">
							<h4 class="m-3"> Vos offres d'emploi <span class="float-right"><a href="{{ path('recru_offre') }}" class=" header-btn  shadow-sm"> <i class="fa fa-plus"></i> offre </a></span></h4>
							<hr>
							<div class="table-responsive mt-2 ">
								{% if  offres | length  >= 1  %}
									<table class="table    table-hover bg-white " id="example" width="100%" cellspacing="0">
									<thead class="bg-dark text-light	  ">
									<tr>
										<td>Titre de l'offre</td>
										<td>Delai</td>
										<td>Expiré ? </td>
										<td>Validation </td>
										<td>Editer</td>
										<td>supprimer</td>
									</tr>
									</thead>
									<tbody>
									{% for offre in offres %}
										<tr class="">
											<td>{{ offre.titre }}</td>
											<td>{{ offre.delai | date('d/m/y') }}</td>
											<td>
											 {% if offre.isExpired  %}
											<span class="badge badge-danger"> oui </span>
											{% else %}
											<span class="badge badge-success"> non </span>
											{% endif %}</td>
											<td >
												{% if offre.archive   %}
													<span class="badge badge-warning ">
														en attente..
												</span>

												{% else %}
													<span class="badge  badge-success">
													oui
											</span>
												{% endif %}
											</td>
											<td class="text-center">
												<a  href="{{ path('edtion',{id: offre.id}) }}" class="text-primary"><i class="fa fa-edit"></i></a>
											</td>
											<td class="text-center">
												<a href="{{ path('recruteur_delete',{id: offre.id}) }}" class="text-primary" onclick="return confirm('êtes sur de vouloir suprrimer ?')" ><i class="fa fa-trash"></i></a>
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
								{% endif %}
							</div>
						</div>
	</div>





    {% else %}
        
{% endif %}

</div>{% endblock %}
