{% extends 'user/user_base.html.twig' %}

{%  block body  %}

    {% if is_granted('ROLE_REC') %}
        <div class="jumbotron-fluid pt-5 pb-5 inscription-bg">
            <div class="container pt-4">
                <div class="row">
                    <div class="col ">
                        <div class=" mt-4">
                            <h4 class=" text-light">Modifier vos information
                            </h4>
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="" >
                                        {% include "/user/recruteur/_form2.html.twig" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
{% endif %}
{% endblock %}