
    <table class="table table-striped table-responsive-sm table hover  ">
        <thead class=" font-weight-bold ">
        <tr>
            <td class="">#</td>
            <td>Titre de l'offre</td>
            <td>Delai</td>
            <td>Editer</td>
            <td>supprimer</td>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr class="text-muted">
                <td class="bg-dark text-light">{{ offre.id }}</td>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.delai | date() }}</td>
                <td class="text-center">
                    <a  href="{{ path('edtion',{id: offre.id}) }}" class="text-primary"><i class="fa fa-edit"></i></a>
                </td>
                <td class="text-center">
                    <a href="{{ path('recruteur_delete',{id: offre.id}) }}" class="text-primary" ><i class="fa fa-trash"></i></a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
