{% extends "user/user_base.html.twig" %}


{% block body %}
	{% if is_granted('ROLE_REC') %}
		<div class="jumbotron-fluid pt-5 mt-5 ">
			<div class="container">
				<div class="row">
					{# <div class="col-md-6 col-lg-4 col-xl-3">
					<div id="sidebar-main" class="sidebar sidebar-default sidebar-separate ">
						{% include'user/candidat/menu.html.twig' %}
					</div>
				</div> #}
					<div class="col ">
						<div class=" mt-4">
							<h4 class="text-capitalize ">Edition de l'offre
							</h4>
							<div class="card shadow-lg">
								<div class="card-body">
									{% include "/user/recruteur/_form.html.twig" %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% else %}

	{% endif %}
{% endblock %}
