{% extends 'rh/rh_base.html.twig' %}
{% block meta %}
	<meta name="description" content="Tous nos offres d'emplois">
{% endblock %}
{% block body %}
	<div id="all" class="content-banner" style="background-image: url('vector/accueil.jpg');background-size: cover;border-radius:0px;">
		<div class="container p-sm-4">

			<div class="entrer "> <h3 class="text1">Ladatema Rh </h3>
				<p class="text2 "> <span class="badge-ladatema badge bg-danger">{{offres.getTotalItemCount}}</span> postes à pourvoir actuellement sur ladatema.com</p>
				
			</div>
			{{ form_start(form , {attr: {class:''}}) }}
			
			<div class="row justify-content-center">
			
				<div class="rh-input" style="width: 70%;">
				<div>
				{{ form_errors(form.q ,{attr: {class: ' text-center '}})}}
				{{ form_widget(form.q ,{attr: {class: ' shadow '}}) }}
				</div>
				
					<button type="submit" class="btn search-btn shadow  ">
						<span>
							<i class="fa fa-search"></i>
						</span>
						Recherche
					</button>
				</div>
			</div>
			
		</div>
	</div>
	<div>
		<div class="" id="all ">
			<div class=" d-flex screen  flex-wrap  justify-content-center   ">
				<div class="col-md-3 col-xl-3">
				<div class="d-flex justify-content-center">
				{# <button type="submit" name="button" class="btn-filter shadow">
					<i class="fa fa-search "> </i>
					Filtrer
				</button> #}
				</div>

					<div class="fill">
						<section class="">
							<h5 class=""></h5>
							<div class="">
								{{ form_row(form.pays ,{attr: {class: '  '}}) }}
								<div class="row">
									{# <div class="col-md">{{ form_row(form.min )}}</div>
									<div class="col-md">{{ form_row(form.max)}}</div> #}
								</div>
								{# <div class="p-4">
									<div id="slider" data-min="{{ min }}" data-max="{{ max }}" style=""></div>

								</div> #}
							</div>
						</section>
						<section class=" ">
							<h5 class="">
								Secteur d'activité
							</h5>
							<div class="">
								<div class="filter">
									{{ form_row(form.secteur, {attr: {class: ''}}) }}
								</div>
							</div>
						</section>
						<section class="">
							<h5 class="">
								Type de Contrat
							</h5>
							<div class="">
								<div class="filter ">
									{{ form_row(form.categorie, {attr: {class: 'filter'}}) }}
								</div>
							</div>
						</section>
						<section class="  ">
							<h5 class="">
								Niveau d'étude
							</h5>
							<div class="">
								<div class="filter">
									{{ form_row(form.etud, {attr: {class: ''}}) }}
								</div>
							</div>
						</section>
						<section class="">
							<h5 class="">
								Exprérience
							</h5>
							<div class="">
								<div class="filter ">
									{{ form_row(form.exp, {attr: {class: ''}}) }}
								</div>
							</div>
						</section>

					</div>


					{{ form_end(form) }}
					<div class="card mb-3  transcale _card1 shadow mt-2  " style="">
						<div class="card-body  text-light text-center  mb-3 mt-3">
							<h4>
								les Profils sont disponible
							</h4>
							<br>
							<a  class="header-btn" style="var(--secondary-color)" href="{{ path('rh_offre') }}">Cliquez-ici</a>
						</div>
					</div>

				</div>
				<div class=" col-md col-xl-8 pt-3 ">
					<div class="d-flex flex-wrap justify-content-end m-2 ">
						<small class="text-muted">Regrouper par :</small>
						<div class="pl-2">
							{{ knp_pagination_sortable(offres, 'Titre', 'o.Titre') }}
						</div>

						<div class="pl-2">
							{{ knp_pagination_sortable(offres, 'Delai', 'o.delai') }}
						</div>
					</div>
					<div class=" ">
						{# <div class="offre-content">
							{% for offre in offres %}
								<div class=" banner-info transcale p-0 shadow">
									{% if offre.image %}
										<div class="banner-img2">
											<img src="{{ vich_uploader_asset(offre, 'imageFile') }}"/>
										</div>
									{% else %}
										<div class="banner-img2">
											<img src="{{ asset('assets/img/logo/logo.png') }}"/>
										</div>
									{% endif %}
									<div class="offre-data">
										<p class="offre-title"  style="">({{ offre.nombreposte }}){{ offre.Titre | capitalize }}</p>
										<div class="organisation">
											{% if offre.recruteur  %}
												<span>Organisation</span>  : {{ offre.recruteur.nomemtreprise | capitalize }}
											{% endif %}
										</div>
										<div class="caract">
											<div class="">
												<i class=""></i>
												<span>
                                Ville : {{ offre.ville }}
                            </span>
											</div>
											<div>
												<i class=""></i>
												<span>
                                Niveau d'etude : {{ offre.etude | capitalize }}
                            </span>
											</div>
											<div>
												<i class=""></i>
												<span>
                                Experience : {{ offre.experience | capitalize }}
                            </span>
											</div>
										</div>
										<div class=" offre-metadata2"  style="font-size: 15px">Publié le :
											{{ offre.delai | date('m/d/Y') }}
											|

										</div>
										<div class=" pt-3 pb-2">
											<a href="{{ path('une_offre',{'titre': offre.Titre | replace({'/': "-", ' ': "-"}) ,'id': offre.id  })  }}" class="header-btn mr-2 rounded-sm  shadow-sm">Lire plus
											</a>

										</div>

									</div>
								</div>
							{% endfor %}


						</div> #}
						{% include('components/_offre.html.twig')%}

						<div class="">
							{{ knp_pagination_render(offres) }}
						</div>

						{#  <nav aria-label="..." class="">
						                  <ul class="pagination">
						                    <li class="page-item disabled">
						                        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-left text-secondary"></i></a>
						                    </li>
						                    <li class="page-item"><a class="page-link" href="#">1</a></li>
						                    <li class="page-item active">
						                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
						                    </li>
						                    <li class="page-item"><a class="page-link" href="#">3</a></li>
						                    <li class="page-item">
						                      <a class="page-link" href="#"><i class="fa fa-chevron-right text-secondary"></i></a>
						                    </li>
						                  </ul>
						                </nav>#}

					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
