<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ladateme Administration</title>
    <link href="assets/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    {# <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> #}
    <!-- Custom styles for this page -->
    <link href="assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
 <!--  <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css') }}"-->
   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {# <script src="https://cdn.tiny.cloud/1/4czupc3bo4sqbi5kqodsnt0rjsfxzm7r99n8jet3nctz7kn1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> #}
    {# <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script> #}
  </head>

  <body id="page-top">
    {% if app.user.isvalid %}
      <div id="wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">
            Ladatema Research <sup></sup>
          </div>
        </a>
        <hr class="sidebar-divider my-0" />

        <li class="nav-item active">
          <a class="nav-link" href="{{ path('admin') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Accueil</span>
          </a>
        </li>
        <hr class="sidebar-divider" />
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-folder"></i>
            <span>Offre</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{{ path('admin_offre_new') }}">nouvel</a>
              <a class="collapse-item" href="{{ path('admin_offre') }}">liste</a>
              <a class="collapse-item" href="{{ path('admin_offre_attente') }}">En attente</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('categoris_contrat_new') }}">
            <i class="fas fa-folder"></i>
            <span>Type de Contrat</span>
          </a>
          <!--  <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">Nouveaux</a>
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">liste</a>
          </div>
        </div> -->
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('secteur_new') }}">
            <i class="fas fa-folder"></i>
            <span>Secteur d'activité</span>
          </a>
          <!--  <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">Nouveaux</a>
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">liste</a>
          </div>
        </div> -->
        </li>
         <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('admin_newsletter') }}">
            <i class="fas fa-folder"></i>
            <span>Newsletter</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a class="collapse-item" href="">Nouveaux</a>
              <a class="collapse-item" href="{{ path('service', { id: app.user.email }) }}">Listes</a>
            </div>
          </div>
        </li>
            </li>
         <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('new.categoris') }}">
            <i class="fas fa-folder"></i>
            <span>News Categories </span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a class="collapse-item" href="">Nouveaux</a>
              <a class="collapse-item" href="{{ path('service', { id: app.user.email }) }}">Listes</a>
            </div>
          </div>
        </li>
        {# <li class="nav-item">
        <a class="nav-link collapsed" href="" >
          <i class="fas fa-folder"></i>
          <span>Partenaire</span>
        </a>
        <!-- <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">Nouveaux</a>
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">liste</a>
          </div>
        </div>-->
      </li> #}
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTo" aria-expanded="true" aria-controls="collapseTo">
            <i class="fas fa-folder"></i>
            <span>utilisateurs</span>
          </a>
          <div id="collapseTo" class="collapse" aria-labelledby="headingTo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{{ path('admin.list.candidats') }}">Candidats</a>
              <a class="collapse-item" href="{{ path('admin.list.recruteur') }}">Recruteurs</a>
              <a class="collapse-item" href="{{ path('admin_new_admin') }}">Administrateur</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('service') }}">
            <i class="fas fa-folder"></i>
            <span>Services</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a class="collapse-item" href="">Nouveaux</a>
              <a class="collapse-item" href="{{ path('service', { id: app.user.email }) }}">Listes</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        {# <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('admin_propos') }}">
            <i class="fas fa-fw fa-folder"></i>
            <span>A propos</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="">Nouveaux</a>
              <a class="collapse-item" href="">liste</a>
            </div>
          </div>
        </li> #}
        {# <li class="nav-item">
          <a class="nav-link collapsed" href="{{ path('admin_conseil') }}">
            <i class="fas fa-folder"></i>
            <span>Conseils</span>
          </a>
          <!--  <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">Nouveaux</a>
            <a class="collapse-item" href="{{ path("categoris_contrat")}}">liste</a>
          </div>
        </div> -->
        </li> #}

        {# <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="fas fa-folder"></i>
            <span>Document</span>
          </a>
          <!--  <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Nouveaux</a>
            <a class="collapse-item" href="utilities-border.html">Listes</a>
          </div>
        </div> -->
        </li> #}

        <!-- Nav Item - Utilities Collapse Menu -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-folder"></i>
            <span>Autre</span>
          </a>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{{ path('admin_mot_directeur_index') }}">Mot du Directeur</a>
              <a class="collapse-item" href="{{ path('admin_partenaire') }}">Partenaires</a>
              <a class="collapse-item" href="{{ path('avis') }}">Avis</a>
              <a class="collapse-item" href="{{ path('admin_contact') }}">Message</a>
              {# <a class="collapse-item" href="#">Gallery</a> #}
              <a class="collapse-item" href="{{ path('utilisateur') }}">Utilisateurs</a>
            </div>
          </div>
        </li>
        {# <li class="nav-item">
        <a class="nav-link collapsed" href="#" >
          <i class="fas fa-fw fa-folder"></i>
          <span>Document</span>
        </a>
        <div id="collapsePages" class="collapse"aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Nouveaux</a>
            <a class="collapse-item" href="">liste</a>
          </div>
        </div>
      </li> #}

        <!--  <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('admin_propos') }}" >
          <i class="fas fa-fw fa-folder"></i>
          <span>Les parteanires</span>
        </a>
        <div id="collapsePages" class="collapse"aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Nouveaux</a>
            <a class="collapse-item" href="">liste</a>
          </div>
        </div>
      </li> -->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4  ">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"><i class="fa fa-bars"></i></button>

            <!-- Topbar Search -->
            {# <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form> #}

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search fa-fw"></i></a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search fa-sm"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                  <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="{{ path('admin_new_admin') }}">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Nouvel admin
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Deconnexion
                  </a>
                </div>
              </li>
            </ul>
          </nav>

          {% block body %}

          {% endblock %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="Container-fluid m-5  ">
    <h2>Oups</h2>
      <p>
        votre compte  n est pas actif un mail a  été envoyé afin que vous puissez l activité     
        <a href="{{path("resend.mail")}}" class="btn btn-primary">Renvoyé le mail </a> 
      </p>
    </div>
    {% endif %}
    

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages -->
    <script src="assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="assets/js/demo/datatables-demo.js"></script>
    <script src="assets/select2.min.js"></script>

    <script>
      $('.secteur').select2()
      $('.contrat').select2()
      $('#example').DataTable({
        language: {
          sProcessing: 'Traitement en cours ...',
          sLengthMenu: 'Afficher _MENU_ lignes',
          sZeroRecords: 'Aucun résultat trouvé',
          sEmptyTable: 'Aucune donnée disponible',
          sInfo: 'Lignes _START_ à _END_ sur _TOTAL_',
          sInfoEmpty: 'Aucune ligne affichée',
          sInfoFiltered: '(Filtrer un maximum de_MAX_)',
          sInfoPostFix: '',
          sSearch: 'Chercher:',
          sUrl: '',
          sInfoThousands: ',',
          sLoadingRecords: 'Chargement...',
          oPaginate: {
            sFirst: 'Premier',
            sLast: 'Dernier',
            sNext: 'Suivant',
            sPrevious: 'Précédent'
          },
          oAria: {
            sSortAscending: ': Trier par ordre croissant',
            sSortDescending: ': Trier par ordre décroissant'
          }
        }
      })
      
      // var editor = new FroalaEditor('.editor');
    </script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
