{% extends 'admin/admin_base.html.twig' %}
{% block body %}

    <div class="card-body">
        <table class="table  rounded    bg-white " id="example">
            <thead>
            <tr class="bg-dark text-light">
                <td>Nom</td>
                <td>Adresse mail</td>
                <td> Numero de téléphone</td>
                <td>Message  </td>
                <td>Date </td>
                <td>supprimer</td>
            </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for   contact in contacts %}
            {% set i = i + 1 %}
                <tr>
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.telephone }}</td>
                    <td class="text-center">

                      <a href="#" type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal{{i}}">
                          message
                      </a>

                      <!-- The Modal -->
                      <div class="modal" id="myModal{{i}}">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">{{contact.nom}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                            {{ contact.message}}
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn text-danger" data-dismiss="modal">fermer</button>
                          </div>

                        </div>
                      </div>
                      </div>
                    </td>
                    <td>{{contact.dateat | date()}}</td>
                    <td>
                    <form class="" action="{{ path('admin_contact_delete',{'id': contact.id}) }}" method="post">
                      <input type="hidden" name="_token" value="{{ csrf_token('delete'~ contact.id )}}">
                      <button href="" class="btn text-primary"> <i class="fa fa-trash"></i></button>
                    </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="chart-area">
            <canvas id="myAreaChart">

            </canvas>
        </div>
    </div>
{% endblock %}
