 {% extends "admin/admin_base.html.twig" %}

 {% block body %}

  <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <a href="{{ path('admin_mot_directeur_index')}}" class="d-none d-sm-inline-block btn btn-sm  shadow-sm  btn-danger float-right "> <i class="fa fa-user"></i> Mot du directeur </a>
            <a href="{{ path('admin_offre') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-file fa-sm text-white-50"></i> Touts les offres d'emploi</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">offres d'emploi</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countoffre.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-newspaper fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">profiles</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ candidats | length}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Entreprise</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ entreprise.count }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-building fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Contacts</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ contacts | length }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  {% if (offreattente) %}
                    <h6 class="m-0  font-weight-bold text-secondary"> {{ offreattente | length}} offres d'emploi en fil d'entante</h6>
                    <a href="{{ path('admin_offre_attente') }}" class="btn btn-primary ">file d'attente</a>
                  {% else %}
                    <h6 class="m-0  font-weight-bold text-success">Aucune file d'attente...</h6>
                    <a href="{{ path('admin_offre') }}" class="btn btn-success text-light">les offres d'emploi</a>
                  {% endif %}
                </div>
              </div>
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  {% if (contacts) %}
                    <h6 class="m-2  font-weight-bold text-muted"> {{ contacts |length }} message  </h6>
                    <a href="{{ path('admin_contact') }}" class="btn btn-primary text-light">liste</a>
                  {% else %}
                    <h6 class="m-2  font-weight-bold text-info">Aucun message ...</h6>
                  {% endif %}
                </div>
              </div>
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  {% if partenaire %}
                    <h6 class="m-2  font-weight-bold text-muted"> {{ partenaire |length }} Partenaires  </h6>
                    <a href="{{ path('admin_partenaire') }}" class="btn btn-primary text-light">liste</a>
                  {% else %}
                    <h6 class="m-2  font-weight-bold text-info">Aucun partenaire ...</h6>
                    <a href="{{ path('admin_partenaire') }}" class="btn btn-danger text-light">Ajouter</a>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  {% if avis %}
                    <h6 class="m-2 font-weight-bold text-secondary"> {{ avis |length }} avis sur le site </h6>
                    <a href="{{ path('avis')}}" class="btn btn-warning ">les avis</a>
                </div>

                  {% else %}
                <h6 class="m-2 font-weight-bold text-secondary">  Aucun avis ...</h6>
                <a href="{{ path('avis') }}" class="btn btn-warning ">Ajouter </a>
                </div>
                  {% endif %}
              </div>
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% if(service) %}
                <h6 class="m-2 font-weight-bold text-secondary"> {{ service | length }} serivices visible  </h6>
                <a  href="{{ path('service') }}" class="btn btn-warning ">liste </a>
              </div>
              {% else %}
              <h6 class="m-2 font-weight-bold text-secondary">  Aucun service  ...</h6>
              <a href="{{ path('service') }}" class="btn btn-info ">Ajouter </a>
            </div>
            {% endif %}
          </div>

    {# <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        {% if(apropos) %}
        <h6 class="m-2 font-weight-bold text-secondary"> {{ apropos | length }}  A propos visible   </h6>
        <a  href="{{ path('admin_propos') }}" class="btn btn-warning ">liste </a>
      </div>
      {% else %}
      <h6 class="m-2 font-weight-bold text-secondary">  Aucun a propos  ...</h6>
      <a href="{{ path('admin_propos') }}" class="btn btn-info ">Ajouter </a>
      {% endif %}
    </div> #}

            </div>
          </div>
</div>

 {% endblock %}
