{% extends 'admin/admin_base.html.twig' %}

{% block body %}
  <div class="container-fluid">
   {% for message in app.flashes('admin_email') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
    <div class="d-flex">
      <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nouvel Administrateur</h6>
          </div>
          <div class="card-body">
            {{ form_start(form) }}
            <div>{{ form_row(form.email) }}</div>
            <div class="">{{ form_row(form.plainPassword) }}</div>
            <div class="">{{ form_row(form.telephone) }}</div>
            <div class=""></div>
            <button type="submit" class="btn btn-warning rounded-0">
              Enregistrer
              <span class="fa fa-save"></span>
            </button>
            {{ form_end(form) }}
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">liste des admins</h6>
          </div>
          <div class="card-body">
            <table class="table table-warning table-bordered">
              <thead class="bg-warning text-light">
                <tr>
                  <td>Tèlèphone</td>
                  <td>email</td>
                  <td>etat du compte</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                {% for admin in admins %}
                  <tr>
                    <td>{{ admin.telephone }}</td>
                    <td>{{ admin.email }}</td>
                    <td>
                      {% if admin.isvalid %}
                        <span class="badge badge-pill badge-succes">oui</span>
                      {% else %}
                        <span class="badge badge-pill badge-danger">nom</span>
                      {% endif %}
                    </td>
                    <td>
                      <a class="btn-sm text-primary" href="{{ path('admin_update_admin', { email: admin.email }) }}"><i class="fa fa-pencil-alt"></i></a> |
                      <a class="btn-sm text-primary" href="{{ path('admin_delete_admin', { email: admin.email }) }}"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
