{% extends 'admin/admin_base.html.twig' %}

{%  block body   %}


    <div class="container-fluid">

        <div class="d-flex">

            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Conseil</h6>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class=""> {{ form_row(form.titre) }} </div>

                        <div class=""> {{ form_row(form.contenu) }} </div>
                        <button  type="submit"class="btn btn-primary  rounded">
                            Enregistrer
                            <span class="fa fa-save"></span>
                        </button>
                        <button type="reset" class=" btn btn-danger">
                          Annuler
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class=" mb-4">
                    <div class="py-3">
                        <h6 class="m-0 font-weight-bold text-primary">liste des conseils</h6>
                    </div>
                    <div class="">
                        <table class="table table-hover  shadow  table-bordered ">
                            <thead class="bg-dark text-light">
                            <tr>
                                <td> #</td>
                                <td>titre </td>
                                <td>contenu </td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% for conseil in conseils %}
                                <tr>
                                    <td> {{ conseil.id }} </td>
                                    <td>{{ conseil.titre }}</td>
                                    <td>{{ conseil.contenu | raw }} </td>
                                    <td>
                                        <a class="btn-sm text-primary"  href="{{ path("admin_conseil_update",{'id': conseil.id })}}"> <i class="fa fa-pencil-alt"></i></a> |
                                        <a class="btn-sm text-primary" onclick=" return confirm('Etes vous sur ?')" href="{{ path("admin_conseil_delete",{'id': conseil.id })}}"> <i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
