{% extends 'rh/rh_base.html.twig' %}
{% block meta %}
	<meta name="description" content="Tous les profils sont disponibles ici ">
<meta property="og:title" content="Ladatema Research Ressource Huamine">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:site_name" content="Ladatema Research" />
{% endblock %}
{% block body %}
<div id="all" class="content-banner" style="background-image: url('vector/accueil.jpg');background-size: cover;border-radius:0px;">
	<div class="container p-sm-4">

		<div class="entrer "> <h3 class="text1">Ladatema Rh </h3>
		<p class="text2 "> <span class="badge-ladatema badge bg-danger">{{candidats.getTotalItemCount}}</span> profiles  actuellement sur ladatema.com</p>
		</div>
		{{ form_start(form) }}
		<div class="row justify-content-center">
			<div class="rh-input" style="width: 70%">
				{{ form_widget(form.q, {attr: {class: ''}}) }}
				<button type="submit" class="btn search-btn shadow  ">
						<span>
							<i class="fa fa-search"></i>
						</span>
					Recherche
				</button>
			</div>
		</div>

		
	</div>
</div>
<div>

	<div class="" id="all">
		<div class=" d-flex flex-wrap  justify-content-center screen  ">
			<div class="col-md-3 col-xl-3   mb-3">
				
				<div class="fill  ">
					<section class="mt-3">
						<h5 class="">
							Pays
						</h5>
						<div class="">
							{{ form_row(form.pays ) }}
						</div>
					</section>
					<section class=" ">
						<h5 class="">
							Secteur d'activité
						</h5>
						<div class="">
							<div class=" filter ">
								{{ form_row(form.secteur, {attr: {class: ''}}) }}
							</div>
						</div>
					</section>
					<section class=" ">
						<h5 class="">
							Niveau d'etude
						</h5>
						<div class="">
							<div class=" filter ">
								{{ form_row(form.etud, {attr: {class: ''}}) }}
							</div>
						</div>
					</section>
					<section class="  ">
						<h5 class="">
							Exprérience
						</h5>
						<div class="">
							<div class="filter">
								{{ form_row(form.exp, {attr: {class: ''}}) }}
							</div>
						</div>
					</section>
				</div>
				{{ form_end(form) }}
				<div class="card mb-3  transcale shadow   _card1 mt-4 " style="">
					<div class="card-body text-light text-center  mb-3 mt-3">
						<h3>
							Ladatema finance
						</h3><br>
						<a href="{{ path('finance_home') }}" class="header-btn ">Cliquez-ici</a>
					</div>
				</div>
			</div>
      <div>

      </div>
      <div class=" col-md col-xl-8  pt-3">
		  <div class="d-flex flex-wrap justify-content-end mt-2 ">
			  <div class="pr-2 ">
				  <small class="text-muted">Regrouper par :</small>
			  </div>
			  <div class="pl-2">
				  {{ knp_pagination_sortable(candidats, 'Niveau d\'etude', 'c.niveau') }}
			  </div>

			  <div class="pl-2">
				  {{ knp_pagination_sortable(candidats, 'Nom', 'c.nom') }}
			  </div>
		  </div>
	  	<div class=" ">
	
<div  class="offre-content">
  {% for candidat in candidats %}
					<div class=" banner-info col-md-10 transcale  p-0 shadow">
						<div class="cv-img">
							<img src="assets/users/profil/{{ candidat.avatar.filename }}" alt="">
						</div>
						<div class="cv-name">
							<div> {{ candidat.nom | upper }}  {{ candidat.prenom | capitalize }}</div>
						</div>
						<div class="data p-3">
							
							<div class="">
							<div class="">
								<span> <i class="fas fa-user-graduate"></i>  Niveau d'etude  </span>
								<span> {{ candidat.niveau | capitalize }}</span>
                   			 </div>
							  <div class="">
								<span> <i class="fas fa-flask"></i>   Expérience  </span>
								<span> {{ candidat.anexp | capitalize }}</span>
                   			 </div>
							 <div class="">
								<span> <i class="fas fa-user-graduate"></i>  Métier  </span>
								<span> {{ candidat.metier | capitalize }}</span>
                   			 </div>
							 <div class="">
								<span> <i class="fas fa-user-graduate"></i>  Pays  </span>
								<span> {{ candidat.pays | capitalize }}</span>
                   			 </div>
							</div>
						</div>

						<div class="cv-link">
							<a href="{{ path('un_cv',{email: candidat.email}) }}">Profil</a>
						</div>
					</div>
				{% endfor %}
</div>

						<div class="">
							{{ knp_pagination_render(candidats) }}
						</div>
					</div>
      </div>

		</div>
	{% endblock %}
