/* @import url('http://fonts.cdnfonts.com/css/tw-cen-mt-std');
@import url('http://fonts.cdnfonts.com/css/century-gothic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap'); */

:root {
  --primary-color: #2b426c;
  --secondary-color: #6B89BF;
  --secondary: #33b77f;
  --third-color: #E9ECEF;
  --taille: 14px;
  --taille1: 16px;
  --taille2: 22px;
  --taille3: 25px;
  --taille4: 30px;
  --taille5: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}


.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  top: 0;
  left: 0;
  bottom: 0;
}

.loader .letter {
  letter-spacing: 10px;
  font-size: 50px;
  color: #6B89BF;
  margin-bottom: 150px;
  animation: flash 1.2s infinite;
  opacity: 0.1;
}

.loader .point {
  font-size: 50px;
  color: darkgray;
  margin-bottom: 140px;
}

.loader .letter:nth-child(1) {
  animation-delay: 0.1s;

}

.loader .letter:nth-child(2) {
  animation-delay: 0.2s;

}

.loader .letter:nth-child(3) {
  animation-delay: 0.3s;

}

.loader .letter:nth-child(4) {
  animation-delay: 0.3s;

}

.loader .letter:nth-child(4) {
  animation-delay: 0.4s;

}

.loader .letter:nth-child(5) {
  animation-delay: 0.5s;

}

.loader .letter:nth-child(6) {
  animation-delay: 0.6s;

}

.loader .letter:nth-child(7) {
  animation-delay: 0.7s;

}

.loader .letter:nth-child(8) {
  animation-delay: 0.8s;

}

.loader .letter:nth-child(9) {
  animation-delay: 0.9s;

}

.loader .letter:nth-child(10) {
  animation-delay: 0.10s;

}

.loader .letter:nth-child(11) {
  animation-delay: 0.11s;

}

.loader .letter:nth-child(12) {
  animation-delay: 0.12s;

}

.loader .letter:nth-child(13s) {
  animation-delay: 0.13s;

}

.loader .letter:nth-child(14s) {
  animation-delay: 0.14s;

}

.loader .letter:nth-child(15s) {
  animation-delay: 0.15s;

}

.loader .letter:nth-child(16s) {
  animation-delay: 0.16s;

}

.loader .letter:nth-child(17s) {
  animation-delay: 0.17s;

}

.loader .letter:nth-child(18s) {
  animation-delay: 0.18s;

}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  display: none;
}

@keyframes flash {
  0% {
    opacity: 0.1;
  }

  90% {
    opacity: 0.7;
    ;
  }

  100% {
    opacity: 0.1;
  }
}

.header {

  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  color: black;
  font-weight: bold;
  font-size: var(--taille2);
}

.nav-item .nav-link {
  line-height: 36px;
  text-transform: capitalize;
  font-size: var(--taille1);
  font-weight: 500;
  color: black;
  transition: .3s all ease-in-out;
}

.badge-ladatema {
  background: var(--secondary-color);
  color: white;
}

.banner-drop-link .banner-drop {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 999;
 
  background: white;
  height: fit-content !important;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(71, 71, 71, 0.2);
  padding-bottom: 8px;
  transition: .1s all ease-in-out;
}

.banner-drop-link .banner-drop a {
  color: rgb(48, 48, 48) !important;
  display: block;
  padding: .4rem 1rem;
  width: 15rem;
  border-top: 1px solid rgba(128, 128, 128, 0.253) ;
  text-decoration: none;
  font-size: var(--taille);
}

.banner-drop-link .banner-drop a:hover {
  background: var(--primary-color);
  color: rgb(255, 255, 255) !important;
}

.nav-item:hover {

  background-color: rgb(245, 245, 245);
  border-radius:4px  ;
  

}

.banner-drop-link:hover .banner-drop {
  display: block;
  animation: drop .3s forwards;
}

@keyframes drop {
  to {
    transform: translateX(10px);
  }

  form {
    transform: translateX(20px);
  }
}

.header-btn {
  color: #FFFFFF;
  border-radius: 6px;
  background-color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  outline: none;
  font-size: var(--taille1);
  padding: 13px 30px;
  transition: 0.5s;
}

.header-btn-black {
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 6px;
  background-color: #2B426C;
  font-weight: 500;
  outline: none;
  font-size: var(--taille1);
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn-black:hover {
  text-decoration: none;
  color: white;
}

.user-ui {
  background-color: #FFFFFF !important;
}

.navbar-scroll {
  background-color: #FFFFFF;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .header-btn {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.navbar-scroll .nav-item .nav-link {
  color: #000;
}

.navbar-scroll .logo {
  font-weight: 500;
  color: #000000;
}

.header-btn:hover {
  background-color: #2B426C;
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-transform: none;
}

.autre-banner {
  color: #000;
  min-height: 40vh;
  max-height: 50vh;
  position: relative;
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

.content-banner,.single-banner {
  color: #000;
  min-height: 400px;
  height: 600px;
  position: relative;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.content-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: #2b426c73;
}

.content-banner .first-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  color: #6B89BF;
  position: relative;
  z-index: 2;
  margin: 0px 0px 12px;
}

.content-banner .banner-des {
  font-size: var(--taille3);
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.slogan {
  font-family: "Franklin Gothic Medium", Sans-Serif;
}

.slogan span {
  font-family: "Franklin Gothic Demi";
}

.banner-btn,
.banner-btn2,
.banner-btn3 {
  padding: 0 30px;
  z-index: 1;
  margin: 30px auto 25px;
  line-height: 56px;
  position: relative;
  border-radius: 6px;
  height: 56px;
  font-size: 16px;
  background-color: var(--primary-color);
  display: inline-block;
  color: #fff;
  transition: 0.3s;
}


.banner-btn2 {
  background-color: var(--primary-color);
  color: white ;
  font-weight: 400;
}
.banner-btn3{
  background-color: transparent ;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.banner-btn:hover,
.banner-btn2:hover
 {
  color: white;
  opacity: 0.8;
}
.banner-btn3:hover{
  color: var(--primary-color);
  opacity: 0.8;
}


.banner-img {
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
}

.banner-img2 {

  max-height: 200px;
  min-height: 160px;
  background-size: contain;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img2 img {
  max-width: 90%;
}

.vector-sortable {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

}

.banner-img h3 {
  font-size: 30px;
}

.banner-finance {
  background-color: white;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  margin: 10px 15px 0 15px;
}

.banner-finance:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 5;
  transition: 0.5s;
}

.banner-rh:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 5;
  transition: 0.5s;
}

.banner-rh {
  background-color: #6B89BF;
  border-radius: 15px;
  margin: 10px 15px 0 0;
}

.banner-finance h4,
.banner-rh h4 {
  font-weight: 600;
  color: #FFFFFF;
  margin: 15px auto;
  text-align: center;
}

.banner-finance p,
.banner-rh p {
  padding: 15px;
}

.noUi-connect {
  background-color: #6B89BF !important;
}

.offre-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
  gap: 2rem;

}

.candidat-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));

}

.candidat-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));

}

.offre-content .banner-info,
.candidat-content .banner-info {
  color: #000;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: 0.4s;
  overflow: hidden;
  height: fit-content;
}

.banner-detail .item {

  display: flex;
  font-size: var(--taille1);
  font-weight: 500;
  color: gray;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.banner-detail {

  background: white;
  border-radius: 10px;
  width: 40%;
  padding: 10px;
  cursor: pointer;

}

.banner-detail:hover {
  transform: scale(1.02);
  transition: all .3s ease-in-out;
}

.banner-detail .item-titre {
  font-weight: bold;
  color: var(--primary-color);
  font-size: var(--taille1);
}

.image {
  width: 100%;
}

.small-text {
  font-size: 12px;
  font-weight: 500;
}

.box-image {
  overflow: hidden;
  height: 50px;
}

.hover {
  height: 50px;
  border-radius: 3px;
}

.hover:hover {
  background: #6B89BF;
  color: white !important;
  transition: all .3s ease-in-out;
  border-radius: 3px;
}

@media screen and (min-width: 800px) {}

.candidat-content .cv-body .cv-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}

.cv-name {
  display: flex;
  justify-content: center;
  font-size: var(--taille2);
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
}

.cv-text {
  font-size: var(--taille);
  color: #B8B8B8;
}

.candidat-content .cv-body {
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}

.cv-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  min-height: 200px;
  max-height: 200px;
}

.cv-img2 {
  justify-content: left;
  display: flex;
  height: 200px;
}

.cv-img2 img {
  min-height: 150px;
  max-height: 200px;
  margin: 10px;
  border-radius: 6px;
}

.banner-progress {

  width: 100%;
  height: 10px;
  background: rgba(153, 153, 153, 0.28);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.banner-item-progress {
  background: linear-gradient(45deg, #1c294e 25%,
      #6B89BF 25%, #6B89BF 50%,
      #1c294e 50%, #1c294e 75%,
      #6B89BF 75%);
  background-size: 30px 30px;
  height: 10px;
}

.bg-dark {
  background: #2B426C !important;
}
.text-color-one{
  color: var(--primary-color);
}
.text-color-two{
  color:  var(--secondary-color);
}

.cv-img img {
  min-height: 100px;
  max-height: 150px;
  border-radius: 6px;
}

.cv-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.cv-link a {
  color: #FFFFFF;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  outline: none;
  font-size: var(--taille1);
  width: 90%;
  text-align: center;
  padding: 7px 0;
  transition: 0.5s;
}

.offre-data,
.candidat-data {
  padding: 20px 10px 10px 10px;
}

.offre-content .banner-info:hover,
.candidat-content .banner-info:hover {
  background-color: #2B426C;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .4);
  cursor: pointer;
  color: white !important;
}

.banner-info:hover .cv-name,
banner-info .caract {
  color: white;
}

.offre-content .banner-info:hover a,
.candidat-content .banner-info:hover a {
  background-color: #fff;
  color: #333;
}

.offre-content .banner-info:hover .offre-title,
.candidat-content .banner-info:hover .candidat-title {
  color: white;
  font-weight: 400;
}

.banner-info .banner-img {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.banner-info .banner-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.banner-info {
  padding: 10px;
  margin: 20px;
  color: #000;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.banner-info .offre-title {
  color: var(--primary-color);
  font-size: var(--taille5) !important;
  font-weight: bold;
}


.banner-offre:hover .organisation,
.banner-info:hover .caract {
  color: white !important;
}

.organisation {
  color: grey;
  font-size: 21px;
}

.caract {
  font-size: var(--taille1);
  color: #353535b3;
}

.banner-info .offre-metadata1,
.banner-info .candidat-metadata1 {
  font-size: 19px;
  font-weight: 400;
  text-align: justify;
  color: grey;
}

.banner-info .offre-metadata2,
.banner-info .candidat-metadata2 {
  font-size: 12px;
  font-weight: 400;
}

.banner-counter {
  background-color: white;
  color: #6B89BF;
  padding: 50px 0 50px 0;

}

.banner-counter h4 {
  font-size: 16px;
  font-weight: 400;
}

.banner-counter .counter {
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  margin-top: 50px;
}

.banner-part {
  background-image: url('/vector/20943565.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-logo {
  padding: 15px;
}




.footer {

  color: black;
}

.footer-ul li {
  font-size: 17px;

  font-weight: 400;

}

footer {
  margin: 0 !important;
}

.footer-ul li .nav-link {
  color: black !important;
}

.footer-h6 {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}

.footer-text {

  font-size: 16px;
  line-height: 1.5;
  color: black;
  font-weight: 400;
}

.final-text {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.service-info h4 {
  text-align: center;
  font-size: 30px;
  color: var(--primary-color);
}

.service-info:hover h4 {
  text-align: left;
  transition: 0.5s ease-in;
  color: white;
}

.service-info {
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.service-info:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  transform: scale(1.1);
  background-color: var(--primary-color);
  color: white;
}

.banner-propose {
  min-height: 250px;
}

.banner-propose .title {
  font-size: 25px;
  color: black;
}

.banner-icon {
  min-width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  color: white;
}

.content-banner2 {
  min-height: 90px;
  color: #000;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.contact-banner {
  border-radius: 5px;
  background-color: white;
}

.contact-banner button {

  border: 0;
}

.contact-banner .col {
  margin: 10px 0 10px 0;
}

.contact-banner input,
.contact-banner textarea {
  font-size: 18px !important;
  width: 100%;
  border: 2px solid var(--primary-color) !important;
  background: var(--third-color) !important;
  background-color: transparent !important;
  padding: 15px !important;
  resize: none;
  outline: none;
}

.contact-banner input:focus {
  outline: none !important;
  border: none !important;
}

.map iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}



.service {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 6px;

}

.service img {
  min-width: 250px;
  max-width: 320px;
  height: auto;
}

.service:nth-of-type(even) {
  flex-direction: row-reverse;
  background-color: var(--primary-color);
  color: white;
}

.service-title {
  color: #6B89BF;
}

.service .service-title {
  font-size: 35px;
  font-weight: 600;
}

.banner-inscription {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  
}

.banner-inscription:hover {
  transform: scale(1.1);
  background: var(--secondary-color);
}

.banner-secteur-card {
  background-color: white;
  border-radius: 10px;
}

.banner-secteur-icon i {
  border-radius: 50%;
  position: absolute;
  margin-top: -40px;
  font-size: 40px;
  color: #3d74d6;
  background-color: white;
  border: 5px solid #2B426C;
  text-align: center;
}

.banner-secteur {
  background-color: var(--third-color);

}

.banner-secteur-bg {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.loginpage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner-login {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.login-info {
  background-color: #6B89BF;
  color: white;
}



.banner-login-logo {
  background-color: var(--primary-color);
  background-attachment: fixed;
  color: white;
}

.btn-login {
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  padding: 10px 15px 10px 15px;
  transition: all .3s ease-in-out;
}

.btn-login:hover {
  opacity: .9;
}

.btn-inscription {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px 15px 10px 15px;
  transition: .3s ease-in-out;
}

.btn-inscription:hover {
  padding: 10px 20px 10px 20px;
  transform: scale(1.1);
  color: white;

}

.entrer {
  z-index: 2;
  position: relative;
  color: white;
  text-align: center;
  display: flex;

  flex-direction: column;
}

.entrer .text1 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.entrer .text2 {
  font-size: 18px;
}

.rh-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.452);
  padding: 7px;
  position: relative;
  z-index: 2;
}

.rh-input input {
  height: 55px;
  margin: 5px;
  width: 545px;
  border-radius: 8px 0 0 8px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  outline: none;
  z-index: 2;
  position: relative;
}

.rh-input select {
  margin: 5px;
  height: 55px;
  width: 545px;
  position: relative;
  border-radius: 0;
  font-size: 17px !important;
  font-weight: 500 !important;
  outline: none;
  z-index: 2;
}


.inscription-bg {
  background-color: #6B89BF;
}

.banner-form {
  border-radius: 10px;
}

.banner-form input {
  border: none;
  border-bottom: 2px solid #6B89BF;
  border-radius: 0;
}

.banner-offre input,
.banner-cv input {
  padding: 25px !important;
  border-radius: 5px 0 0 5px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  outline: none;
}

.banner-offre input:focus,
.banner-cv input:focus {
  outline: none;
}

.banner-offre,
.banner-cv {
  min-height: 50vh;
  max-height: 60vh;
}

.banner-offre::after,
.banner-cv::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
}

.banner-offre .container,
.banner-cv .container {
  margin-top: 120px !important;
}

.banner-search {
  transition: 0.3s all;

}

.search-btn,
.search-btn2 {
  height: 55px;
  width: 200px;
  position: relative;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--secondary);
  color: white;
  z-index: 2;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.search-btn2 {
  height: 50px;
  border-radius: 8px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.search-btn:hover,
.search-btn2:hover {
 opacity: 0.8;
}

.transcale:hover {
  transform: scale(1.05);
}

.banner-conseil {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  justify-content: center;
  align-content: center;
}

.banner-conseil .conseil {
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  border: 1.9px solid #cfcfcf;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.banner-conseil .conseil:hover {
  transform: scale(1.08);
}

.banner-conseil .conseil:nth-of-type(even) {
  background-color: #6B89BF;
  color: white;
  border: none;
}

.banner-conseil .conseil:nth-of-type(even) .header-btn {
  background-color: white;
  color: #6B89BF;
}

.shadow-effect {
  padding: 10px;
  border-radius: 10px;
  color: black;
  margin: 50px 50px;
}




.pop_img {
  width: 70vw;
  max-height: 80vh;
  overflow: hidden;

}

.pop_img img {
  max-width: 100%;
  min-width: 100%;
  transition: 0.3s all;
  z-index: 999;
}

.pop_img_bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s all;
  z-index: 998;

}

.bg-gray {
  background: var(--third-color);
}

.fill {
  border: 1px solid #2B426C;
  color: #525252 !important;
  box-shadow: 0 0 4px rgba(122, 122, 122, .8);
  border-radius: 6px;
  display: block;
  position: sticky;
  overflow: hidden;
  padding: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;

}


.gradient {
  background: hsla(219, 43%, 30%, 1);

  background: linear-gradient(135deg, hsla(219, 43%, 30%, 1) 0%, hsla(219, 68%, 10%, 1) 100%);

  background: -moz-linear-gradient(135deg, hsla(219, 43%, 30%, 1) 0%, hsla(219, 68%, 10%, 1) 100%);

  background: -webkit-linear-gradient(135deg, hsla(219, 43%, 30%, 1) 0%, hsla(219, 68%, 10%, 1) 100%);
}

@media only screen and (min-width: 1200px) {
  .nav-item>.nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }


}


@media only screen and (max-width: 992px) {
  .title {
    font-size: 20px !important;
  }

  .entrer .text1 {
    font-size: 35px;
  }

  .entrer .text2 {
    font-size: 20px;
  }

  .cv-head {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .banner-img2 {
    min-height: 200px;
  }

  .screen {
    flex-direction: column-reverse;
  }

  .header-inner {
    background-color: white !important;
  }

  .loader .letter {
    font-size: 20px;
  }

  .nav-item>.nav-link {
    color: black !important;
  }

  .social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }


  .content-banner {
    margin-top: 70px;
    height: fit-content;
  }

  .rh-input {
    flex-wrap: wrap;
    border: none;
    width: 100% !important;
  }

  .content-banner {
    background-position: center;
  }

  .motdirecteur div {
    border-radius: 8px;
  }

  .motdirecteur>div {
    border-radius: 8px 8px 0 0;
  }

  .motdirecteur_text {
    margin-top: -10px;
  }

  .content-banner .first-title {
    font-size: 35px;
  }

  .content-banner .first-title2 {
    font-size: 30px;
    font-weight: 400;
    color: #1c294e;
  }

  .logo {
    font-weight: 600 !important;
    color: #000 !important;
  }

  .logo-text {
    font-size: 16px !important
  }

  .banner-btn,
  .banner-btn2 {
    height: 50px;
    font-size: var(--taille);
  }

  .banner-finance {

    margin: 0 0 0 0;
  }

  .banner-rh {
    margin: 15px 0 0 0;
  }

  .banner-offre input {
    border-radius: 5px !important;
  }

  .banner-offre button {
    border-radius: 5px !important;
  }

  .rh-input input,
  .rh-input button,
  .rh-input select {
    border-radius: 5px !important;
  }

  .banner-detail {
    width: 100%;
  }

}

.menu .menu-item {
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 6px;
  background-color: #6B89BF;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: block;
  padding: 8px 0;
  margin: 15px;

}

.menu .btn-deconnect {
  background-color: white;
  font-weight: 550;
  outline: none;
  border-radius: 6px;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding: 8px 0;
  margin: 20px 15px 15px 15px;
  color: #1c294e;
}

.banner-img-recru {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-img-recru img {
  height: auto;
  width: 150px !important;
}

.round {
  border-radius: 10px;
  overflow: hidden
}

._card1 {
  background: var(--primary-color);
  background-size: contain;
  border-radius: 7px !important;
  color: white;
  transition: all ease-in-out .3s;

}

._card1 .header-btn,
.banner-inscription .header-btn {
  background: white;
  color: var(--primary-color);
}

._card2 {
  background-image: linear-gradient(rgba(17, 35, 69, 0.6), rgba(7, 7, 95, 0.6)), url('../../vector/6685.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 7px !important;
  transition: all ease-in-out .3s;
}

._card_bg {
  background-image: linear-gradient(to top right, #6B88BE 50%, #66ffcc 110%);
  border: none;
}

._card_bg2 {
  background-color: rgba(0, 0, 0, 0.5);
}

._card_bg3 {
  background-color: rgba(0, 0, 0, 0.9);
}

._box {
  position: relative;
  border: 2px solid red;
  padding: 20px 0;
  display: flex;
}

._box ._icon {
  min-width: 60px;
  height: 60px;
  background-image: linear-gradient(to top right, #6B88BE 50%, #66ffcc 110%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}


.btn-social {
  background: white;
  color: var(--secondary-color);
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 25px;
  transition: .3s ease-in-out;
  margin: 5px 15px
}

.btn-social:hover {
  color: var(--primary-color);
  transform: scale(0.5);
}

.line {
  height: 4px;
  background: white;
  border-radius: 2px;
  margin: 10px;
}

.offre-link {
  display: flex;
  justify-content: center;
  align-items: center;

}

.offre-link a {
  color: #FFFFFF;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  outline: none;
  font-size: var(--taille1);
  width: 100%;
  text-align: center;
  padding: 7px 0;
  transition: 0.5s;
}

.data {

  min-height: 100px;
  width: 99%;
  position: relative;
  border-radius: 8px;
}

.data div div {
  display: flex;
  justify-content: space-between;
  color: #767676;
  font-size: var(--taille);
}

.data div {
  margin: 10px 0;
}

.btn-filter {
  width: 100%;
  border: none;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 13px 0;
  font-size: var(--taille1);
  color: white;
  margin: 10px 0 10px 0;
}

.offre-content .banner-info:hover .data div {
  color: white !important;
}