{{ form_start(form) }}


<div class=""> {{ form_row(form.titre) }} </div>
<div class="">{{ form_row(form.type) }}</div>
<div class=""> {{ form_row(form.description) }} </div>
<div class="text-success font-weight-bold ">{{ form_row(form.afficher) }}</div>

<button  type="submit"   class="btn btn-success ">
    Enregistrer
    <span class="fa fa-save"></span>
</button>
<button type="reset" class=" btn btn-danger">
  Annuler
</button>
{{ form_end(form) }}
