{% extends 'admin/admin_base.html.twig' %}

{% block body  %}
    <div class="container-fluid">
        {% for message in app.flashes('apropos_new') %}
            <div class="alert alert-success">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('apropos_update') %}
            <div class="alert alert-success">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('apropos_delete') %}
            <div class="alert alert-success">
                {{ message  }}
            </div>
        {% endfor %}

        <div class="d-flex">

            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">A propos</h6>
                    </div>
                    <div class="card-body">
                        {% include('admin/apropos/_form.html.twig') %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                    <div class="card-body">
                        <table class="table shadow table-striped  table-hover  table-bordered ">
                            <thead class="bg-dark  text-light">
                            <tr>
                                <td> Titre </td>
                                
                            <td class=""> Afficher a l'accueil </td>
                                <td>edit</td>
                                <td>supp</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% for pros in propos %}
                                <tr>
                                    <td> {{ pros.titre }} </td>

                                    <td>
                                        {% if pros.afficher == true %}
                                                <span class="btn-sm btn-success rounded-pill"> oui</span>
                                                {% else %}
                                                     <span class="btn-sm btn-danger rounded-pill"> non</span>
                                        {% endif %}


                                    </td>
                                    <td>
                                        <a class="btn-sm text-primary" href="{{ path("admin_propos_update",{'id': pros.id })}}"> <i class="fa fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <a class=" btn-sm text-primary" href="{{ path("admin_propos_delete",{'id': pros.id })}}"> <i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
