{% extends "finance/finance_base.html.twig" %}
{% block body %}
<div class="jumbotron _finance text-light text-center" style="height: 340px;background-image: url('assets/img/christina-wocintechchat-com-rg1y72eKw6o-unsplash.jpg');background-size: cover;background-attachment: fixed;border-radius: 0px;">
		<h1 class="mt-5" style="font-size: 61px;font-family:tw cen mt">
			<span class="text-primary">G</span>allery<br></h1>
	</div>
    <div class="p-5 ">

        <div class="row justify-content-center">
            <div class="col-md gallery ">
              <a href="images/offre/1659825.jpg"><img class="w-100" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>  
            </div>
            <div class="col-md ">
                <img class="w-100" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    
            </div>
            <div class="col-md ">
                <img class="w-100" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    
            </div>
            <div class="col-md ">
                <img class="w-100" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
   
{% endblock %}