{% extends "finance/finance_base.html.twig" %}
{% block body %}
    <div class="content-banner" style="padding: 100px;min-height: 40vh">
        <div class="container">
            <div class="row justify-content-centerter">
                <div class="col-md-12 text-center">
                    <div class="banner-con">
                        <p id="title1" class="first-title"> Gallery </p>
                        <p id="title2" class="banner-des ">
                            llreom ipsum <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 ">

        <div class=" row justify-content-around">
            <div class="col-md-4 gallery mt-2 mb-2">
              <a href="images/offre/1659825.jpg"><img class="w-100 shadow rounded" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>
            </div>
            <div class="col-md-4  gallery mt-2 mb-2 ">
                <a href="images/offre/1659825.jpg"><img class="w-100 shadow rounded" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>
            </div>
            <div class="col-md-4 gallery mt-2 mb-2 ">
                <a href="images/offre/1659825.jpg"><img class="w-100 shadow rounded" src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>
            </div>
            <div class="col-md-4 gallery mt-2 mb-2 ">
                <a href="images/offre/1659825.jpg"><img class="w-100 shadow rounded " src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>
            </div>
            <div class="col-md-4 gallery mt-2 mb-2 ">
                <a href="images/offre/1659825.jpg"><img class="w-100 shadow rounded " src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>
            </div>
            <div class="col-md-4 gallery mt-2 mb-2 ">
                <a href="images/offre/1659825.jpg"><img class="w-100 shadow rounded " src="{{ asset('images/offre/1659825.jpg')}}" alt="" title="">    </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
   
{% endblock %}