
<a{% for attr, value  in options | merge({class: 'header-btn-black  '}) %} {{ attr }}="{{ value }}"{% endfor %}>
<span class="ml-2 float-right">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-desc"></i>
            {% else %}
                <i class="fa  fa-sort-asc"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-sort"></i>
        {% endif %}
    </span>
{{ title }}
</a>
