


.select2-container .select2-selection--single
{
    display: flex !important;
    align-items: center !important;
    height: calc(1.5em + .75rem + 2px) !important ;
}
.contact-banner input:focus , .contact-banner textarea:focus
{
    border: none !important;
    outline: none;
}
