{% extends 'admin/admin_base.html.twig' %}

{% block body  %}
<div class="container-fluid">
    <h1 class="h3 mb-0 text-gray-800">Liste des offre d'emplois en attentes </h1>
    <div class="card-body">
        <table class="table shadow  table-hover table-bordered ">
            <thead class="bg-dark text-light">
            <tr class="">
                <td> #</td>
                <td>titre </td>
                <td>Decription</td>
                <td>Action</td>
                <td>désarchiver</td>
            </tr>
            </thead>
            <tbody>
            {% if offres %}
                {% for offre in offres %}
                    <tr>

                        <td> {{ offre.id }} </td>
                        <td>{{ offre.titre}} </td>
                        <td>{{ offre.description |slice(0,20) |raw  }}...</td>

                        <td>
                            <a class="btn-sm text-primary"  href="{{ path("admin_offre_update",{'id': offre.id })}}"> <i class="fa fa-edit"></i></a> |
                            <a class=" btn-sm text-primary " href="{{ path("admin_offre_delete",{'id': offre.id })}}"> <i class="fa fa-trash-alt"></i></a>
                        </td>
                        <td>
                            <a  class="btn btn-success" href="{{ path('admin_offre_validate',{id: offre.id }) }}">Valider</a>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr class="container">
                    <h2 class="text-muted">Aucune file d'attente ..</h2>
                </tr>
            {% endif %}
            </tbody>

        </table>
    </div>
</div>




{% endblock %}