{% extends "admin/admin_base.html.twig" %}
{% block body  %}
  <div class="container-fluid">
            {% for message in app.flashes('offre_ad_new') %}
                <div class="alert alert-success">
                    {{ message  }}
                </div>
            {% endfor %}
            {% for message in app.flashes('offre_ad_delete') %}
                <div class="alert alert-danger">
                    {{ message  }}
                </div>
            {% endfor %}
      {% for message in app.flashes('offre_ad_update') %}
          <div class="alert alert-warning">
              {{ message  }}
          </div>
      {% endfor %}
      <h1 class="h3 mb-0 text-gray-800">Liste des offre d'emplois <span> {{offres | length}}</span></h1>
                <div class="card-body">
                    <table class="table table  rounded-sm table-hover bg-white  "  id="example"  width="100%" cellspacing="0">
                        <thead class="bg-dark text-light ">
                            <tr class="">
                               <td>Archivé </td>
                                <td>Expiré</td>
                             
                                <td>Titre</td>
                                <td>Decription</td>
                                <td>delai</td>
                                <td class="col-md-1">Typ de C</td>
                                <td class="col-md-3">S A</td>
                                <td>par </td>
                                <td class="col-md-1">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% set i = 0 %}
                        {% for offre in offres %}
                        {% set i = i + 1%}
                        <tr>
                                <td>
                                {% if offre.archive == true   %}
                                  <span class="badge badge-warning"> oui </span>
                                  {% else %}
                                   <span class="badge badge-success"> non </span>
                                {% endif %}
                                </td>
                                <td>
                                {% if offre.isExpired  %}
                                  <span class="badge badge-danger"> oui </span>
                                  {% else %}
                                   <span class="badge badge-success"> non </span>
                                {% endif %}
                                </td>
                                <td>{{ offre.titre}} </td>
                                <td>
                                    <button type="button" class="btn btn-sm  btn-primary" data-toggle="modal" data-target="#exampleModal{{i}}">
                                      Description
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal  fade" id="exampleModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal{{i}}Label" aria-hidden="true">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">description</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <p>
                                               {{ offre.description | raw}}
                                              <p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn  btn-sm btn-primary" data-dismiss="modal">fermer</button
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                 </td>
                                <td>{{ offre.delai | date("m/d/Y")}} </td>
                                <td>{{ offre.catcontrat }} </td>
                                <td>
                                    {% for secteur in offre.secteur %}
                                        <p>{{ secteur.nom }}</p>
                                    {% endfor %}
                                </td>
                              <td>  {% if offre.users.email  is  defined    %}  {{ offre.users.email }} {% else %} ... {% endif %}  </td>
                                <td>
                                    <a class="btn-sm text-primary"  href="{{ path("admin_offre_update",{'id': offre.id })}}"> <i class="fa fa-edit"></i></a> |
                                    <a class=" btn-sm text-primary " href="{{ path("admin_offre_delete",{'id': offre.id })}}"> <i class="fa fa-trash-alt"></i></a>

                                </td>

                             </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
              </div>


  </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#myModal2').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
{% endblock %}
