{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        {% for message in app.flashes('secteur_new') %}
                <div class="alert alert-success">
                    {{ message  }}
                </div>
            {% endfor %}
        {% for message in app.flashes('secteur_modif') %}
            <div class="alert alert-warning">
                {{ message  }}
            </div>
        {% endfor %}
        <div class="d-flex">

            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card  mb-4">
                <div class=" p-3">
                  <h2 class="m-0 "> Secteur d'activité</h2>
                </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class=""> {{ form_row(form.nom) }} </div>
                        <div class="">{{ form_row(form.description) }}</div>
                        <button  type="submit"  class="btn btn-primary ">
                            Enregistrer
                            <span class="fa fa-save"></span>
                        </button>
                        <button type="reset" class=" btn btn-danger">
                          Annuler
                        </button>
                        {{ form_end(form) }}
                    </div>
              </div>
            </div>

              <div class="col-lg-6 mb-4">

              <!-- Illustrations -->

                <div class="card-body">
                    <table class="table bg-white table-hover  " id="example">
                        <thead class="bg-dark ">
                            <tr>
                                <td> #</td>
                                <td>Nom </td>

                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>

                        {% for secteur in secteurs %}
                        <tr>
                            <td> {{ secteur.id }} </td>
                            <td>{{secteur.nom}} </td>
                            <td>
                               <a class="btn-sm text-primary" href="{{ path('secteur_update' ,  {id: secteur.id}) }}"> <i class="fa fa-pencil-alt"></i></a> |
                                {% if secteur.offres |length == 0  %}
                                    <a class="btn-sm text-primary" href="{{ path('secteur_delete' ,  {id: secteur.id}) }}"> <i class="fa fa-trash-alt"></i></a>
                                {% endif %}

                             </td>
                             </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>

        </div>


    </div>








{% endblock %}
