<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}LADATEMA RESEARCH!{% endblock %}</title>
        <meta name="description" content="LADATEMA RESEARCH est un cabinet intervenant dans les audits, la gestion de ressources humaines, l’étude, la formation, les conseils et l’assistance au profit des organisations.">
    	<meta property="og:image" content="{{ asset('assets/img/logo/logo.png') }}">
    	<meta property="og:description" content="LADATEMA RESEARCH est un cabinet intervenant dans les audits, la gestion de ressources humaines, l’étude, la formation, les conseils et l’assistance au profit des organisations.">
    	<meta property="og:title" content="LADATEMA RESEARCH">

        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fontawesome-free/css/all.min.css') }}">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> #}
        {# <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> #}
        <link rel="stylesheet" href=" {{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href=" {{ asset('assets/css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href=" {{ asset('assets/css/Pretty-Footer.css') }}">
        <link rel="stylesheet" href=" {{ asset('assets/css/styles.css') }}">
         <link rel="syulesheet" href="{{ asset('assets/select2.min.css') }}">
        <link rel="shortcut icon "type="image/png" href="{{ asset('assets/img/logo/logo.png') }}">
        {% block stylesheets %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include 'components/loader.html.twig' %}
    <header>
        <div id="navbar" class="header-inner user-ui">
            <div class="container-fluid px-lg-5">
                <nav class="navbar navbar-expand-sm my-navbar">
                    <a class="navbar-brand" href="#">
                        <span class="logo">
                            <img  class="img-fluid" style="width:80px; margin: -3px 0px 0px 0px;" src="{{ asset('assets/img/logo/logo.png') }}" alt="" title="LADATEMA RESAERCH">
                              
                        </span>
                    </a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon text-dark" style="color: #333">
                            <i class="fas fa-bars" style="margin: 5px 0px 0px 0px"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav m-auto ">
                            <li class="nav-item banner-drop-link">
                                <a class="nav-link"  href="#">Lada finance</a>
                                <div class="banner-drop">
                                    <a class="nav-link " href="{{ path('finance_home') }}">Accueil</a>
                                    <a class="nav-link " href="{{ path('finance_propos') }}">A propos</a>
                                    <a class="nav-link t" href="{{ path('finance_service') }}">Nos Services</a>
                                    <a class="nav-link " href="{{ path('finance_contact') }}">Contact</a>
                                </div>
                            </li>
                            <li class="nav-item banner-drop-link">
                                <a class="nav-link " href="#">Lada Ressource humaines</a>
                                <div class="banner-drop">
                                    <a class="nav-link " href="{{ path('rh_home') }}">Accueil</a>
                                    <a class="nav-link " href="{{ path('rh_offre') }}">Candidat</a>
                                    <a class="nav-link t" href="{{ path('rh_cv') }}">Cv-thèque</a>
                                </div>
                            </li>

                            
                            {# <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Docs et conseils
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('documents') }}">Documents</a>
                                    <a class="dropdown-item" href="{{ path('conseils') }}">Conseils</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('gallery') }}">Gallery</a>
                            </li> #}
                        </ul>
                        <form action="" id="header-btn" class="form-inline my-2 my-lg-0">
                            <a href="{{ path('finance_contact') }}"  class="header-btn shadow my-2 my-sm-0 ">
                                <i class="fa fa-phone"></i>
                                <span>Contactez-nous</span></a>
                        </form>
                    </div>
                </nav>

            </div>
        </div>
    </header>
        {% block body %}

        {% endblock %}

        {% include'footerbase.html.twig' %}

         <script src="{{ asset('assets/js/jquery.min.js')}}"></script>
         <script src="{{ asset('assets/js/jquery.waypoints.min.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.counterup.min.js')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset('owlcarousel/owl.carousel.min.js') }}"></script>
         <script src="{{ asset('assets/scrollreveal.js') }}"></script>
          <script src="{{ asset('assets/select2.min.js') }}"></script>
        {# <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> #}
          <script src="{{ asset('assets/js/app.js')}}"></script>
    </body>
</html>             
