

<footer class=" text-lg-start bg-gray text-muted">

  <section class="d-flex justify-content-center align-items-center justify-content-lg-between p-4 border-bottom">
 
    <div class="me-5 h5 d-none d-lg-block">
      <span>Rester  connecter avec nous sur nos reseaux sociaux :</span>
    </div>
    <div>
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwji9rrKzpTyAhWxgVwKHQuJCy4QFjAAegQIBxAD&url=https%3A%2F%2Fwww.facebook.com%2FLadatema.Research.Sarl%2F&usg=AOvVaw1tNlNZux8RILtQzE8km5wz" target="_blank" class="btn-social shadow  "> <i class="fab fa-facebook-f "></i></a>
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwip9-XDz5TyAhWUgVwKHRZ5B6kQFjAAegQIBxAD&url=https%3A%2F%2Ftwitter.com%2Fladatemaresearc%3Flang%3Den&usg=AOvVaw3MxvUFOLWKsFcRXehBldRs" target="_blank" class="btn-social shadow "><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ladatema-research-838a02106/" target="_blank" class="btn-social shadow  "> <i class="fab fa-linkedin-in"></i></a>
    </div>

  </section>

  <section class="">
    <div class="container  text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg col-xl-5  text-left mb-4">
          <!-- Content -->
          <h6 class="text-uppercase  mb-4">
            <img  class="img-fluid" style="width: 80px; margin: -3px 0px 0px 0px;" src="{{ asset('assets/img/logo/logo.png') }}" alt="" title="LADATEMA RESAERCH">
            Ladatema Research
          </h6>
          <p class="fw-normal ">
               La Gestion de votre entreprise en toute quiétude
          </p>
        </div>
      
        <div class="col-md-2 col-lg col-xl  text-left mx-auto mb-4">
      
          <h6 class="text-uppercase footer-h6 fw-bold mb-4 mt-4">
           Lada Finance 
          </h6>
      <ul class="list-unstyled  footer-ul  mb-0">
                        <li class="mb-2"><a href="{{path('finance_service')}}" class="nav-link">Nos services</a></li>
                        <li class="mb-2"><a href="{{ path('finance_propos')}}" class="nav-link">A propos</a></li>
                        <li class="mb-2"><a href="{{ path('finance_contact')}}" class="nav-link">Nous contacter</a></li>
                    </ul>
        </div>
   
        <div class="col-md-3 col-lg col-xl mx-auto row flex algin-items-center flex-column text-left mb-4">
        
          <h6 class="text-uppercase footer-h6 fw-bold mb-4 mt-4 ">
            Lada Resource Humaine
          </h6>
          <ul class="list-unstyled footer-ul  mb-0">
                        <li class="mb-2"><a href="{{ path('rh_offre')}}" class="nav-link">Candidat</a></li>
                        <li class="mb-2"><a href="{{ path('rh_cv')}}" class="nav-link">Recruteur</a></li>
                    </ul>
        </div>
      
      </div>
  
    </div>
  </section>

  <div class="text-center  fw-normal p-4" >
    © 2021 Copyright:
    <a class="text-reset " href="https://ppsolutionstech.com/"> @P&PST </a> | By @massahoudfx
  </div>

</footer>
