{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        {% for message in app.flashes('service_new') %}
                <div class="alert alert-info">
                    {{ message  }}
                </div>
        {% endfor %}

        {% for message in app.flashes('service_update') %}
            <div class="alert alert-warning">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('service_delete') %}
            <div class="alert alert-danger">
                {{ message  }}
            </div>
        {% endfor %}


        <div class="d-flex">

            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card  mb-4">
                <div class=" p-3">
                  <h2 class="m-0">Service</h2>
                </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class=""> {{ form_row(form.titre) }} </div>

                          {{ form_row(form.imageFIle) }}
                          <div class=""> {{ form_row(form.description) }} </div>
                        <button  type="submit"  class="btn btn-primary ">
                            Enregistrer
                            <span class="fa fa-save"></span>
                        </button>
                    
                        {{ form_end(form) }}
                    </div>
              </div>
            </div>

              <div class="col-lg-6 mb-4">

              <!-- Illustrations -->

                <div class="card-body">
                    <table class="table   table-striped bg-white" >
                        <thead class="bg-dark  text-light">
                            <tr>
                                <td> #</td>
                                <td>Nom </td>
                                 <td>edit</td>
                                <td>Suppr</td>
                            </tr>
                        </thead>
                        <tbody>

                        {% for service in services %}
                        <tr>
                            <td> {{ service.id }} </td>
                            <td>{{ service.titre }} </td>
                             <td>
                               <a class="text-primary btn-sm " href="{{ path("service_update",{'id': service.id })}}"> <i class="fa fa-pencil-alt"></i></a>
                             </td>
                            <td>
                                <a class="text-primary  btn-sm " href="{{ path("service_delete",{'id': service.id })}}"> <i class="fa fa-trash-alt"></i></a>
                            </td>
                             </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
              </div>
            </div>

        </div>
    </div>

{% endblock %}
