{% extends "base2.html.twig" %}
{% block body %}


		<div class="container d-flex align-items-center  " style="height: 100vh;">
            <div class=" col-md-6">
            {% for message in app.flashes('ch_success') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
                {% for message in app.flashes('ch_erro') %}
              <div class="alert alert-danger text-center">{{ message }}</div>
            {% endfor %}
                {{form_start(form)}}
                    {{form_row(form.plainPassword)}}
                      <button class="btn banner-btn shadow mt-2" type="submit">
						<span>
							Enregistrer
						</span>
					</button>
              {{form_end(form)}}
              
                  
            </div>
		</div>

{% endblock %}
