{% extends "base2.html.twig" %}

{% block body %}

		<div class="container d-flex align-items-center  " style="height: 100vh;">

            <div class=" col-md-6">
              {% for message in app.flashes('forget_email') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
                {% for message in app.flashes('forget') %}
              <div class="alert alert-danger text-center">{{ message }}</div>
            {% endfor %}
            <h2>Mot de passe oublié </h2>
            <br>
                {{form_start(form)}}
                    {{form_row(form.email)}}
                      <button class="btn banner-btn shadow mt-2" type="submit">
						<span>
							envoyé
						</span>
					</button>
              {{form_end(form)}}
              
                  
            </div>
		</div>

{% endblock %}
