
<div class="d-flex mt-2 justify-content-center">
  <div class="">
    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwji9rrKzpTyAhWxgVwKHQuJCy4QFjAAegQIBxAD&url=https%3A%2F%2Fwww.facebook.com%2FLadatema.Research.Sarl%2F&usg=AOvVaw1tNlNZux8RILtQzE8km5wz" target="_blank" class="btn-social shadow  "> <i class="fab fa-facebook-f "></i></a>
    <a href="https://www.linkedin.com/in/ladatema-research-838a02106/" target="_blank" class="btn-social shadow  "> <i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwip9-XDz5TyAhWUgVwKHRZ5B6kQFjAAegQIBxAD&url=https%3A%2F%2Ftwitter.com%2Fladatemaresearc%3Flang%3Den&usg=AOvVaw3MxvUFOLWKsFcRXehBldRs" target="_blank" class="btn-social shadow "><i class="fab fa-twitter"></i></a>
  </div>
</div>
