	<h2 class="text-center p-2 p-lg-3  ">Les dernières offres d'emploi</h1>
<div class="offre-content">

    {% for offre in offres %}
        <div class=" banner-info transcale p-0 shadow">
            {% if offre.image %}
                <div class="banner-img2">
                    <img src="{{ vich_uploader_asset(offre, 'imageFile') }}"/>
                </div>
            {% else %}
                <div class="banner-img2">
                    <img class="img-fluid w-50" src="{{ asset('assets/img/logo/logo.png') }}"/>
                </div>
            {% endif %}
            <div class="offre-data">
                <div class="offre-title"  style="">
                   <span class="badge badge-danger" style="background: var(--secondary-color) !important ;">
                      {{ offre.nombreposte }}
                    </span>
                    {{ offre.Titre | capitalize }}
                </div>
                <div class="d-flex justify-content-center">
                <div class="data">
                <div class="">
                  {% if offre.recruteur  %}
                    <div class=""style="font-weight: bold ;">
                      <span > <i class="fas fa-synagogue"></i> Organisation  </span>
                      <span> {{ offre.recruteur.nomemtreprise | capitalize }}</span>
                    </div>
                  {% endif %}

                    <div class="">
                      <span> <i class="fas fa-user-graduate"></i>  Niveau d'etude  </span>
                      <span> {{ offre.etude | capitalize }}</span>
                    </div>
                    <div class="">
                      <span> <i class="fas fa-flask"></i>   Expérience  </span>
                      <span> {{ offre.experience | capitalize }}</span>
                    </div>

                    <div class="">
                      <span>   <i class="fas fa-flag"></i>  Ville  </span>
                      <span> {{ offre.ville | capitalize }}</span>
                    </div>

                    <div class="">
                      <span> <i class="far fa-calendar-times"></i>   Expiration  </span>
                      <span> {{ offre.delai | date('d/m/y') }}</span>
                    </div>
                    <div class="">
                      <span><i class="far fa-clock"></i>   Publier le  </span>
                      <span> {{ offre.updateat | date('d/m/y')}}</span>
                    </div>
                  </div>
                </div>
                </div>
                <div class=" offre-link ">
                    <a href="{{ path('une_offre',{'titre': offre.Titre | replace({'/': "-", ' ': "-"}) ,'id': offre.id  })  }} " class="">Lire plus
                    </a>

                </div>

            </div>
        </div>
    {% endfor %}
</div>
