<h1> {{object }}  </h1>

<p>{{ message }} </p>

{% for key , value in allfile  %}
    <a href=" {{ absolute_url( asset('assets/file/' ~ value ) ) }} "> Télécharger  mon fichier   </a> <br>
{% endfor %}
