<h2 class="text-center p-2 p-lg-3  "> Profils récents</h1>
<div  class="offre-content">
  {% for candidat in candidats %}
					<div class=" banner-info col-md-12 transcale  p-0 shadow">
						<div class="cv-img">
							<img src="assets/users/profil/{{ candidat.avatar.filename }}" alt="">
						</div>
						<div class="cv-name">
							<div> {{ candidat.nom | upper }}  {{ candidat.prenom | capitalize }}</div>
						</div>
						<div class="data p-3">
							
							<div class="">
							<div class="">
								<span> <i class="fas fa-user-graduate"></i>  Niveau d'etude  </span>
								<span> {{ candidat.niveau | capitalize }}</span>
                   			 </div>
							  <div class="">
								<span> <i class="fas fa-flask"></i>   Expérience  </span>
								<span> {{ candidat.anexp | capitalize }}</span>
                   			 </div>
							 <div class="">
								<span> <i class="fas fa-user-graduate"></i>  Métier  </span>
								<span> {{ candidat.metier | capitalize }}</span>
                   			 </div>
							 <div class="">
								<span> <i class="fas fa-user-graduate"></i>  Pays  </span>
								<span> {{ candidat.pays | capitalize }}</span>
                   			 </div>
							</div>
						</div>

						<div class="cv-link">
							<a href="{{ path('un_cv',{email: candidat.email}) }}">Profil</a>
						</div>
					</div>
				{% endfor %}
</div>