	<section id="section2" class="jumbotron brounded-0 gradient" >
		<div class=" row justify-content-center ">
			<div class="text-center text-light col-md-2 ">
				<div class="icon">
					<i class="fa fa-building fa-3x  p-3"></i>
				</div>
				<div class="">
					<h2 class=" counter" >{{ countentreprise.count }}</h2>
					<h4 class=" ">Entreprises</h4>
				</div>
			</div>
			<div class="text-center text-light col-md-2 ">
				<div class="icon">
					<i class="fa fa-folder fa-3x p-3 "></i>
				</div>
				<div class="">
					<h2 class=" counter" >{{ countoffre.count }}</h2>
					<h4 class=" ">Offres d'emploi</h4>
				</div>
			</div>
			<div class="text-center text-light col-md-2 ">
				<div class="icon">
					<i class="fa fa-file fa-3x p-3"></i>
				</div>
				<div class="">
					<h2 class=" counter" >10<h2>
					<h4 class=" ">Cv</h4>


				</div>
			</div>
			<div class="text-center text-light col-md-2">
				<div class="icon">
					<i class="fa fa-users fa-3x p-3"></i>
				</div>
				<div class="">
					<h2 class=" counter" >50</h2>
					<h4 class=" ">Utilisateurs</h4>
				</div>
			</div>
		</div>
	</section>