<section class=" p-3 gradient">
  <div class="container">
    <div class="row align-items-center justify-content-center p-lg-5 p-md-2">
      <div class="col-lg-8 justify-content-center text-white">
        <h2 class="text-center">
       À LA RECHERCHE D'UN EMPLOI 
        </h2>
        <p class="text-center d-block  text-light pt-3 " style="font-weight: normal ">Comme plus de 100.000 personnes inscrites sur cDiscussion.com, inscrivez vous pour recevoir chaque jour des dizaines d'offres d'emploi et candidatez gratuitement en quelques clics!</p>

        <p></p>
        <div class="d-flex flex-wrap">
          <a href="{{ path("app_register_candidat")}}" class="banner-btn2 btn-success btn shadow" style="background-color: #28a745;">Inscription du candidat</a>
          <a href="{{ path("app_register_recruteur")}}" class="banner-btn2 btn text-dark  shadow" style="background-color: #ffc107;" >Inscription du Recruteur</a>
        </div>
      </div>
    </div>
  </div>
</section>
