<div class="loader">
    {# <div class="loader-logo">
        <span class="letter">L</span>
        <span class="letter">A</span>
        <span class="letter">D</span>
        <span class="letter">A</span>
        <span class="letter">T</span>
        <span class="letter">E</span>
        <span class="letter">M</span>
        <span class="letter">A</span>
        <span class="letter">.</span>
        <span class="letter">.</span>
        <span class="letter">.</span>
    </div> #}

    <img alt="Ladatema Loader animation" src="{{asset('assets/Eclipse-1s-200px.svg')}}" title="Ldatema research">
</div>