<ul class="navbar-nav m-auto ">
    <li class="nav-item">
        <a class="nav-link" href="#">Ladatem finance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ladatema Ressource humeines</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Document et Conseil
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Document</a>
            <a class="dropdown-item" href="#">Conseil
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact-nous</a>
    </li>
</ul>
<form action="" id="header-btn" class="form-inline my-2 my-lg-0">
    <a href=""  class="header-btn shadow my-2 my-sm-0 ">Se conecter</a>
</form>