<section class="p-lg-5 p-3 gradient">
	<div class="container">
		<div class="row align-items-center p-lg-5 p-md-2">
			<div class="col-lg-6 text-white">
				<small>Newsletter</small>
				<h2>
					Ladatema Plus proche de vous
				</h2>
				<p class="mt-lg-4 mb-lg-4 my-1">
					Vous êtes prêt ? Abonnez-vous pour être aux premières pages des
															          informations
				</p>
				
				<div class="flex flex-row  " >
				   {% for message in app.flashes('newsletter') %}
              <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
                {{form_start(news_form)}}
					{{form_row(news_form.email )}}
					<button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#newsletter">Abonnez-vous</button>


					<div class="modal text-dark fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="newsletterLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Selectionnez vos newsletter </h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body text-dark ">
                                    
                                    {{form_widget(news_form.categories)}}

									<button type="submit" class="btn btn-primary my-3">Abonnez-vous</button>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn  btn-sm btn-danger" data-dismiss="modal">fermer</button</div>
								</div>
							</div>
						</div>
					</div>
                {{form_end(news_form )}}
				</div>
				
			</div>
			<div class="col-lg">
				<img class="img-fluid shadow" src="{{ asset('assets/img/pexels-ketut-subiyanto-4559759.jpg') }}"/>
			</div>
		</div>
	</div>
</section>


