{% for secteur in secteurs  %}
<div class=" item text-center shadow-sm " >
    <div class="banner-secteur-icon"> ICON</div>
    <div class="banner-secteur-bg  bg-primary text-white" >
        <h6 class="">{{ secteur.nom }}</h6>
        <p class="card-text">
            {%  set count =0  %}
            {% for offres in secteur.offres %}
                {% set count= count + 1 %}
            {% endfor %}
            ({{ count }})
        </p>
    </div>
</div>
{% endfor %}