{% extends 'rh/rh_base.html.twig' %}

{% block  body  %}

    <div class="jumbotron text-light banner-offre  text-center" style="background-image: url('assets/img/kaleidico-RDYdOvk8ats-unsplash.jpg');background-size: cover;border-radius:0px;">
        <div class="container ">
            <div class="banner-search transcale">
                <h1>Instruisé vous </h1>
                <div class="d-flex  flex-wrap justify-content-center">

                    <input type="text" class="form-control col-md-6 shadow " placeholder="Votre recherche">

                    <button type="submit"  class="btn search-btn shadow " >
                        <span><i class="fa fa-search"></i></span>
                        Recherche
                    </button>
                </div>
            </div>

            <div class="h5 text-left mt-3">
                <span class="badge-warning badge">100</span> conseil disponible
            </div>
        </div>
    </div>

    <div class="banner-conseil ">
        {% for conseil in conseils %}
        <div class="conseil shadow transcale">
            <h4>{{ conseil.titre }}</h4>
            <div class="p-4">
                {{ conseil.contenu | raw  }}
            </div>
            <a href="" class="header-btn shadow ">lire plus</a>
        </div>
        {% endfor %}
    </div>x

{% endblock %}
