{% extends 'rh/rh_base.html.twig' %}

{% block  body  %}

    <div class="jumbotron text-light banner-offre  text-center" style="background-image: url('assets/img/bg.jpg');background-size: contain  ;border-radius:0px;">
        <div class="container ">
            <div class="banner-search transcale">
                <h1>Document a votre porté </h1>
                <div class="d-flex  flex-wrap justify-content-center">

                    <input type="text" class="form-control col-md-6 shadow mt-2  " placeholder="Votre recherche">

                    <button type="submit"  class="btn search-btn shadow mt-2 " >
                        <span><i class="fa fa-search"></i></span>
                        Recherche
                    </button>
                </div>
            </div>

            <div class="h5 text-left mt-3">
                <span class="badge-warning badge">100</span> Document telechargable
            </div>
        </div>
    </div>

    <div class="banner-conseil ">
        {% for doc in docs %}

        {% endfor %}
    </div>x

{% endblock %}
