{% extends 'rh/rh_base.html.twig' %}
{% block meta %}
<meta property="og:description" content="LADATEMA RESEARCH est un cabinet intervenant dans les audits, la gestion de ressources humaines, l’étude, la formation, les conseils et l’assistance au profit des organisations.">
<meta property="og:title" content="Ladatema Research Ressource Humaine">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:site_name" content="Ladatema Research" />
{% endblock %}
{% block body %}
<section  class="content-banner" style="  background-image: url('vector/accueil.jpg');">
	<div class="container p-sm-4">
					<div class="entrer "> <h3 class="text1">Ladatema Ressource humaines </h3>
						<p class="text2 "> <span class="badge-ladatema badge bg-danger">{{countoffre.count}}+</span> postes a jours  à pourvoir actuellement sur Ladatema.com</p>
					</div>
						{{ form_start(form , {attr: {class:'rh-input'}}) }}
									
									<div class="" style="width: 40%">
									{{ form_errors(form.q) }}
									{{ form_widget(form.q ,{attr: {class: 'col-md shadow '}}) }}
									</div>
									
									{{ form_widget(form.pays,{attr: {class: 'shadow'}}) }}
									{# <button  id="options"  class="btn search-btn2 shadow  " >
										<span><i class="fa fa-plus"></i></span>

									</button> #}
									<button type="submit"  class="btn search-btn shadow  " >
										<span><i class="fa fa-search"></i></span>
										Recherche
									</button>

						{{ form_end(form) }}
					
						



	</div>
</section>

<section class="banner-secteur p-3 ">
<h1 id="section1" class="text-center title mb-3">
	Secteurs d'activité
</h1>
<div class="d-flex container flex-column flex-wrap mx-auto mt-5 " style=" max-height: 250px">
{% set i = 0 %}
{% set break = false %}
	{% for secteur in secteurs if not break  %}
						{% set i= i +1 %}
					
						{% if i <= 15%}
					
						<a type="submit" href="{{path("rh_offre",{secteur: [secteur.id]})}}" class="btn text-left">{{ secteur.nom |capitalize}} <samll class="badge-ladatema badge ">
									{%  set count =0  %}
										{% for offres in secteur.offres %}
											{% set count= count + 1 %}
										{% endfor %}
										{{ count }}
									</small></a>
					
									
						{% else %}
							<a href="#" class="banner-btn shadow">Voir tous les secteurs </a>
							{% set break = true %}
						{% endif  %}
						
					
					{% endfor %}
</div>

</section>

<section id="section2" class="jumbotron banner-secteur rounded-0">
		<div class="">
			<div class="owl-carousel owl-1 owl-theme">
					{% for secteur in secteurs  %}
						<div class="item ">
							<div class="shadow banner-secteur-card  col-md " style="cursor: pointer" >
								<div class="banner-secteur-bg " >
									<div class="text-center m-1" >
										<i class="fa  fa-suitcase fa-2x shadow-sm" style="color: #6B89BF"></i>
									</div>
									<p class="">{{ secteur.nom }}</p>
									<p class="badge ">
										{%  set count =0  %}
										{% for offres in secteur.offres %}
											{% set count= count + 1 %}
										{% endfor %}
										{{ count }}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
		</div>
	</div>
</section>
{% include('components/inscription.html.twig')%}
<section class="offre bg-gray ">
	{% include('components/_offre.html.twig') %}
	<div>
								<div class="text-center" >
									<a href="{{ path("rh_offre")}}" class="banner-btn shadow" >
										Toutes nos offres
										<i class="fa fa-sticky-note-o"></i>
									</a>
								</div>
							</div>
</section>

{% if candidats  %}
	
	<section class="offre mt-5">
		{% include('components/_profil.html.twig') %}
		<div class="text-center" >
			<a href="{{ path("rh_cv")}}" class="banner-btn shadow" >
				Touts nos profils
				<i class="fa fa-sticky-note-o"></i>
			</a>
		</div>
		</div>
	</section>
	{% endif %}

<div class="" >
	{# <section id="section1" class="">
		<div class="container-fluid ">
			<h1  class=" text-center  title">Les recruteurs</h1>
			<div class="p-5 ">
				<div class="owl-carousel owl-2 owl-theme">
					{% for recruteur  in recruteurs  %}
					{% if recruteur.avatar.filename is not  defined and recruteur.avatar.filename == null %}
					    hello world 
					{% else %}
						<div class="item ">
							<div class=" banner-img-recru   ">
								<img src="assets/users/profil/{{ recruteur.avatar.filename }}" alt=""/>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="text-center" >
				<a href="#" class="banner-btn shadow" >
					Voir plus
					<i class="fa fa-sticky-note-o"></i>
				</a>
			</div>
		</div>
	</section> #}
	{% include('components/_stats.html.twig')%}

</div>{% endblock %}{% block javascripts %}{% endblock %}
