<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block meta  %}
    {% endblock %}
    <title>Connection</title>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon "type="image/png" href="{{ asset('assets/img/logo/logo.png') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome-all.min.css') }}">

    <link rel="stylesheet" href=" {{ asset('assets/css/owl.carousel.min.css') }}"> 
    <link rel="stylesheet" href=" {{ asset('assets/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/Pretty-Footer.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/Sidebar-1-1.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/Sidebar-1.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/styles.css') }}">
    <link rel="stylesheet" href=" {{ asset('owlcarousel/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href=" {{ asset('owlcarousel/assets/owl.theme.default.min.css') }}">
</head>

<body >


{% block body %}

{% endblock %}

<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/Card-Carousel.js') }}"></script>
<script src="{{ asset('owlcarousel/owl.carousel.min.js') }}"></script>

<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        autoplay:true,
        autoplayTimeout:1000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:2,
                nav:true
            },
            600:{
                items:3,
                nav:false
            },
            1000:{
                items:4,
                nav:true,
                loop:true
            }
        }
    })
</script>
</body>

</html>