<!DOCTYPE html>
<html>

	<head>
		<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=609942f130ef9700113f7143&product=sop' async='async'></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta property="og:image" content="{{ asset('assets/img/logo/logo.png') }}">
		{% block meta  %}
		 {% endblock %}
		<title itemprop="name">LADATEMA RESEARCH RH </title>
		<link rel="shortcut icon" type="image/png" href="img/favicon.png">
		<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/fontawesome-free/css/all.min.css') }}">
		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> #}
		<link rel="stylesheet" href=" {{ asset('assets/css/owl.carousel.min.css') }}">
		<link rel="stylesheet" href=" {{ asset('assets/css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href=" {{ asset('assets/css/Pretty-Footer.css') }}">
		{# <link rel="stylesheet" href=" {{ asset('assets/css/Sidebar-1-1.css') }}">
		<link rel="stylesheet" href=" {{ asset('assets/css/Sidebar-1.css') }}"> #}
		<link rel="stylesheet" href=" {{ asset('assets/css/styles.css') }}">
		<link rel="stylesheet" href=" {{ asset('assets/css/datepicker.css') }}">
		<link rel="shortcut icon " type="image/png" href="{{ asset('assets/img/logo/logo.png') }}">
		 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> 
		<link rel="syulesheet" href="{{ asset('assets/select2.min.css') }}">
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) |raw  }}
	</head>

	<body>
	{% include 'components/loader.html.twig' %}
	<header>
		<div id="navbar" class="header-inner user-ui">
			<div class="container-fluid px-lg-5">
				<nav class="navbar navbar-expand-sm my-navbar">

					<a class="navbar-brand" href="{{ path('home') }}">
                        <span class="logo">
                            <img  class="img-fluid" style="width: 80px; margin: -3px 0px 0px 0px;" src="{{ asset('assets/img/logo/logo.png') }}" alt="" title="LADATEMA RESAERCH">
                          
                        </span>
					</a>
					<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon">
                            <i class="fas fa-bars" style="margin: 5px 0px 0px 0px"></i>
                        </span>
					</button>
					<div class="collapse navbar-collapse" id="navcol-1">
						<ul class="navbar-nav m-auto ">
							<li class="nav-item" role="presentation">
								<a class="nav-link " href="{{ path('rh_home') }}">Accueil</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link " href="{{ path('rh_offre') }}">Candidat</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link t" href="{{ path('rh_cv') }}">Cv-thèque</a>
							</li>

							<!-- Dropdown
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
									Document et Conseil
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('documents') }}">documents</a>
									<a class="dropdown-item" href="{{ path('conseils')}}">Conseil</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Gallery</a>
							</li>-->
							<li class="nav-item banner-drop-link">
									<a class="nav-link"  href="#">Lada finance</a>
									<div class="banner-drop">
											<a class="nav-link " href="{{ path('finance_home') }}">Accueil</a>
											<a class="nav-link " href="{{ path('finance_propos') }}">A propos</a>
											<a class="nav-link t" href="{{ path('finance_service') }}">Nos Services</a>
											<a class="nav-link " href="{{ path('finance_contact') }}">Contact</a>
									</div>
							</li>
						</ul>

						{% if app.user %}
							<form action="" id="header-btn " class="form-inline my-2 my-lg-0">
								<a {% if is_granted('ROLE_CAN') %} href="{{ path('candidat')}}" {% elseif is_granted('ROLE_REC')%} href=" {{ path('recruteur') }}" {% else %} href=" {{ path('admin') }}" {% endif %}class="header-btn shadow my-2 my-sm-0 ">
									<i class="fa fa-user "></i>
									<span>
										compte
									</span>
								</a>
							</form>
						{%  else %}
							<form action="" id="header-btn" class="form-inline my-2 my-lg-0">
								<a href="{{ path('login') }}"  class="header-btn shadow my-2 my-sm-0 ">Connexion</a>
							</form>
						{% endif %}
					</div>
				</nav>
			</div>
		</div>
	</header>
	<div class="sharethis-sticky-share-buttons"></div>
		{% block body %}{% endblock %}
		{% include'footerbase.html.twig' %}
		<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.waypoints.min.js')}}"></script>
		<script src="{{ asset('assets/js/jquery.counterup.min.js')}}"></script>
		{# <script src="https://unpkg.com/scrollreveal"></script> #}
		{# <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> #}
		 <script src="{{ asset('assets/scrollreveal.js') }}"></script>
 <script src="{{ asset('assets/select2.min.js') }}"></script>
		<script src="{{ asset('assets/js/app.js')}}"></script>
		{% block javascripts %}{% endblock %}
	</body>

</html>
