{% extends 'rh/rh_base.html.twig' %}
{% block meta %}
  <meta property="og:description" content="LADATEMA RESEARCH est un cabinet intervenant dans les audits, la gestion de ressources humaines, l’étude, la formation, les conseils et l’assistance au profit des organisations." />
  <meta property="og:title" content="Ladatema Research Ressource Huamine" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ app.request.uri }}" />
  <meta property="og:site_name" content="Ladatema Research" />
{% endblock %}
{% block body %}
  <section class="p-lg-5 p-3 gradient h-50 single-banner">
    <div class="container p-lg-5 p-md-2">
      <h1 class="text-left text-light p-lg-0 p-md-0 pt-4">{{ une_offre.Titre|capitalize }}</h1>
      <div>
      {% if une_offre.recruteur  %}
        <button type="button" class="banner-btn2 btn shadow" style="background: linear-gradient(120deg ,#1f7aee 0%, #bf8ad7 100%)  !important ;color: white; !important " data-toggle="modal" data-target="#postuler">Postulet maintenant</button>
      {% endif %}

        <div class="modal fade" id="postuler" tabindex="-1" role="dialog" aria-labelledby="postulerLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Postuler à l'offre </h5>
			
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
			  	<p class="px-4 pt-4 text-danger ">
					Liser attentivement l'offre d'emploi afin d'envoyer les pièces requises
				</p>
			    {{form_start(form)}}
              <div class="modal-body">

				 {{form_row(form.object)}}
         {{form_row(form.message)}}
				 {{form_row(form.file)}}
              </div>
              <div class="modal-footer">
                 <button type="submit" class="btn btn-primary my-3">Envoyer</button>
              </div>
			    {{form_end(form)}}
            </div>
          </div>
        </div>
      </div>
      <div class="h5 w-50 text-left text-white font-weight-light">Critères de l'offre d'emploi :</div>
      <div class="d-flex justify-content-start flex-wrap mt-3">
        {% if une_offre.recruteur %}
          <div class="bg-white text-ligth d-inline shadow py-2 px-2 rounded m-2 entreprise">
            <span class="mr-2 ">
              <i class="fas fa-synagogue"></i>
              Entreprise
            </span>
            <span><a href=""><strong>{{ une_offre.recruteur|capitalize }}</strong></a></span>
          </div>
          <div class="bg-white text-ligth d-inline shadow py-2 px-1 rounded m-2 entreprise">
            <span class="mr-2 ">
              <i class="fas fa-envelope"></i>
              Email
            </span>
            <span>{{ une_offre.recruteur.email }}</span>
          </div>
        {% endif %}
        {% if une_offre.ville %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2">
              <i class="fas fa-flag "></i>
              Ville :
            </span>
            <span>{{ une_offre.ville }}</span>
          </div>
        {% endif %}
        {% if une_offre.pays %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-globe-africa "></i>
              Pays :
            </span>
            <span>{{ une_offre.pays }}</span>
          </div>
        {% endif %}
        {% if une_offre.experience %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-flask "></i>
              Expérience
            </span>
            <span>{{ une_offre.experience }}</span>
          </div>
        {% endif %}
        {% if une_offre.etude %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-user-graduate "></i>
              Niveau d'étude :
            </span>
            <span>{{ une_offre.etude|upper }}</span>
          </div>
        {% endif %}
        {% if une_offre.nombreposte %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2">
              <i class="fas fa-chair "></i>
              Poste :
            </span>
            <span class="badge badge-danger" style="background: var(--secondary-color) !important ;">{{ une_offre.nombreposte }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="bg-gray p-0 p-lg-5">
    <div class="container d-flex flex-wrap flex-0 gap-2">
      <div class="card my-3 m-lg-0 shadow p-3 col-12 col-md-6 col-lg-8">
        <h2 class="">Détail de l'offre d'emploi</h2>
        <div class="text-justify">{{ une_offre.description|raw }}</div>
      </div>
      <div class="col">
        <div class="card ml-lg-2 align-self-start h-auto col-md p-3 shadow" style="background: linear-gradient(120deg ,#ee1f63 0%, #d7a38a 100%) !important ; color: white; !important ">
          <h3 class="text-shadow text-light h2">Voirs les profiles que les recruteurs recherchent ici</h3>
          <a class="header-btn text-center" href="{{ path('rh_cv') }}">Cliquez-ici</a>
        </div>
        <div class="card bg-dark text-light mt-3 ml-lg-2 align-self-start h-auto col-md p-3 shadow">
          <h4 class="h2">Les offres d'emplois relatifes</h4>
          <div>
            {% for item in offre_rel %}
              <div class="py-2">
                <a class="h6 text-white text-capitalize" href="{{ path('une_offre', { titre: item.Titre, id: item.id }) }}">{{ item.Titre|lower }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {# <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card mb-3 shadow _card1" style="margin-top: 70px;">
          <div class="card-body text-light text-center mb-3 mt-3">
            <h4>
              les Profils sont disponible
            </h4>
            <br />
            <a class="header-btn" href="{{ path('rh_offre') }}">Cliquez-ici</a>
          </div>
        </div>
      </div>
    </div>
  </div> #}
  {% include 'components/inscription.html.twig' %}
  <section class="bg-gray">
    {% include 'components/_offre.html.twig' %}
  </section>
{% endblock %}
