{% extends ('rh/rh_base.html.twig') %}
{%block meta %}

<meta property="og:description" content="LADATEMA RESEARCH est un cabinet intervenant dans les audits, la gestion de ressources humaines, l’étude, la formation, les conseils et l’assistance au profit des organisations.">
<meta property="og:title" content="Ladatema Research Ressource Huamine">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:site_name" content="Ladatema Research" />
{% endblock %}

{% block body %}
    <section  class="p-lg-5 p-3 gradient h-50 single-banner" >
        <div class="container p-lg-5 p-md-2" style="z-index: 2">
           <div class="cv-head" >
               <h2 class="text-left text-light p-lg-0 p-md-0 pt-4" >	{{ un_candidat.nom | upper }}  {{ un_candidat.prenom | capitalize }} </h2>

               <div class="py-5">
                <div>
                
                {% if un_candidat.cv %}
                    <a  class="header-btn" href="{{ vich_uploader_asset(un_candidat.cv,'file') }}"  target="_blank"> <span>Tèlecharger le cv</span>  <i class="fa fa-download"></i></a>
                {% endif %}
                
                </div>
                        
               </div>
                <div class="h5 w-50 text-left text-white font-weight-light">Détail du profil :</div>
                      <div class="d-flex justify-content-start flex-wrap mt-3">
        {% if un_candidat.ville %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 font-weight-bold">
              <i class="fas fa-flag "></i>
              Ville :
            </span>
            <span>{{ un_candidat.ville }}</span>
          </div>
        {% endif %}
       
        {% if un_candidat.pays %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-globe-africa "></i>
              Pays :
            </span>
            <span>{{ un_candidat.pays }}</span>
          </div>
        {% endif %}
        {% if un_candidat.anexp %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-flask "></i>
              Expérience
            </span>
            <span>{{ un_candidat.anexp }}</span>
          </div>
        {% endif %}
        {% if un_candidat.niveau %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-user-graduate "></i>
              Niveau d'étude :
            </span>
            <span>{{ un_candidat.niveau|upper }}</span>
          </div>
        {% endif %}
        {% if un_candidat.metier %}
          <div class="bg-light d-inline shadow py-2 px-2 rounded m-2">
            <span class="mr-2 ">
              <i class="fas fa-chair text-success"></i>
              metier : 
            </span>
            <span class="">{{ un_candidat.metier}}</span>
          </div>
        {% endif %}
      </div>
               <div class="cv-img2 ">
                   <img class="shadow" src="assets/users/profil/{{ un_candidat.avatar.filename }}" alt="">
               </div>
           </div>
                       

        </div>
    </section>
    <section class="">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md " style="margin-bottom: 20px">
                    <br>
                    <h3 class="title-second">Formation</h3>
                    <div class=" formation "><br>
                        {% for formation  in un_candidat.formations %}
                            <h4>{{ formation.titre }}</h4>
                            <p class="p-2">
                                {{ formation.contenu |raw }}
                            </p>
                            {% else %}
                            <p>Aucune</p>
                        {% endfor %}
                    </div>
                    <h3 class="title-seoond">Competence</h3>
                    <div class="competence " ><br>
                    {% if un_candidat.competences  %}
                    {% for competences  in un_candidat.competences %}
                            <h4>{{ competences.titre}} </h4>
                            <div class="text-center">
                                {{ competences.evaluation }}%
                            </div>
                            <div class="banner-progress">
                                <div class="banner-item-progress" style="width: 50%"></div>
                            </div>
                      {% endfor %}
                      {% else %}
                            <p>Aucune</p>
                    {% endif %}
                        
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="card mb-3  _card1  shadow  " style="margin-top: 70px; background: linear-gradient(120deg ,#ee1f63 0%, #d7a38a 100%) !important ; color: white; !important ">
                        <div class="card-body text-light  text-center  mb-3 mt-3">
                            <h4>
                                Voir plus de profils des candidats ? 
                            </h4>
                            <br>
                            <a  class="header-btn" href="{{ path('rh_cv') }}">Cliquez-ici</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
   
    <section class="bg-gray mt-5 ">
        {% include ('components/_offre.html.twig') %}
    </section>
{% endblock %}
