{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        {% for message in app.flashes('avis_new') %}
            <div class="alert alert-info">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('avis_update') %}
            <div class="alert alert-warning">
                {{ message  }}
            </div>
        {% endfor %}
        {% for message in app.flashes('avis_delete') %}
            <div class="alert alert-danger">
                {{ message  }}
            </div>
        {% endfor %}
        <div class="d-flex">

            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card  mb-4">
                    <div class=" p-3">
                        <h2 class="m-0 "> Les Avis</h2>
                    </div>
                    <div class="card-body">
                       {% include'admin/avis/_form.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->

                    <div class="card-body">
                        <table class="table bg-white  table-hover  ">
                            <thead class="bg-dark text-light">
                            <tr>
                                <td> #</td>
                                <td>Nom </td>
                                <td>Description</td>
                                <td class="col-md-2">Action</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% for avis in avis %}
                                <tr>
                                    <td> {{ avis.id }} </td>
                                    <td>{{avis.nom}} </td>
                                    <td>{{ avis.commentaire }} </td>
                                    <td>
                                        <a class="btn-sm text-primary" href="{{ path("admin_avis_update",{'id': avis.id })}}"> <i class="fa fa-pencil-alt"></i></a> |
                                        <a class="btn-sm text-primary" href="{{ path("admin_avis_delete",{'id': avis.id })}}"> <i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
