{% extends "user/user_base.html.twig" %}

{% block body %}
	{% if app.user %}
        {% if is_granted('ROLE_CAN') or is_granted('ROLE_REC') %}
		<div class="container d-flex align-items-center  " style="height: 100vh;">

            <div class=" col-md-6">
                {{form_start(form)}}
                    {{form_row(form.plainPassword)}}
                      <button class="btn banner-btn shadow mt-2" type="submit">
						<span>
							Enregistrer
						</span>
					</button>
              {{form_end(form)}}
              
                  
            </div>
		</div>
	{% endif %}
    {% endif %}
{% endblock %}
