{% extends "user/user_base.html.twig" %}

{% block body %}
	{% if is_granted('ROLE_CAN') or is_granted('ROLE_REC') %}
		<div class="container mt-5 p-5 ">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 mt-5 round  ">
					<div class="row justify-content-center ">
					{% if app.user.avatar ==  null %}
						<div class="col-sm-4  rounded-left">
							<div class="card-body text-center text-white mt-5">
												
									<i class="far fa-user fa-7x mt-5 text-secondary "></i>
								
							</div>
						</div>
						{% endif %}
						<div class="col-sm-8 bg-white rounded-right">
							<h4 class="mt-3 text-center text-uppercase">Mis ajour de profil
							</h4>
							
							<div class="row justify-content-center mt-5 ">
								{% if app.user.avatar  %}
								<img class="card-img w-50 rounded-lg" src="{{ asset('assets/users/profil/'~app.user.avatar.filename) }}" alt="{{ app.user.avatar.filename}}"/>
									<h6 class="text-muted m-5 ">
										  Supprimer la précédente pour metre à jour 
										<br>
										<a href="{{ path('photo_delete') }}" class=" btn btn-danger shadow	mt-4">
											<i class="fa fa-trash mr-1 "></i>Supprimer
										</a>
										<a href=" {{ is_granted('ROLE_CAN') ? path('candidat') : path('recruteur') }}" class=" mt-4">
										Revenir à l'acceuil 
										</a>
									</h6>

								{% else %}
								</div>


								{{form_start(form)}}
								<div>
								{{form_row(form.imagefile)}}
								</div>
								<button class="header-btn  border-0 " type="submit">
									Enregistrer
									<span>
										<i class="fa fa-save"></i>
									</span>
								</button>

								{{form_end(form)}}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
