<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block meta  %}
    {% endblock %}
    <title>LADATEMA RESAERCH</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href=" {{ asset('assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/styles.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/datepicker.css') }}">
    <link rel="stylesheet" href=" {{ asset('assets/css/fileinput.min.css') }}">
    <link rel="stylesheet" href=" {{ asset('owlcarousel/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href=" {{ asset('owlcarousel/assets/owl.theme.default.min.css') }}">
    <link rel="shortcut icon "type="image/png" href="{{ asset('assets/img/logo/logo.png') }}">
    <link rel="stylesheet" href="{{ asset('') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">


    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) |raw  }}
</head>

<body>
{% include 'components/loader.html.twig' %}

{% if app.user.isvalid %}
<header>
    <div id="navbar" class="header-inner user-ui">
        <div class="container-fluid px-lg-5">
            <nav class="navbar navbar-expand-sm my-navbar">

                <a class="navbar-brand" href="{{ path('home') }}">
                        <span class="logo">
                            <img  class="img-fluid" style="width: 50px; margin: -3px 0px 0px 0px;" src="{{ asset('assets/img/logo/logo.png') }}" alt="" title="LADATEMA RESAERCH">
                            Ladatema Research
                        </span>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon">
                            <i class="fas fa-bars" style="margin: 5px 0px 0px 0px"></i>
                        </span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav m-auto ">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link " href="{{ path('rh_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link " href="{{ path('rh_offre') }}">Candidat</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link t" href="{{ path('rh_cv') }}">Cv-thèque</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link t" href="{{ path('finance_home') }}">lada finance</a>
                        </li>

                        <!-- Dropdown
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Document et Conseil
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('documents') }}">Docs</a>
                                <a class="dropdown-item" href="{{ path('conseils') }}">Conseils</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gallery') }}">Gallery</a>
                        </li>-->
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <form action="" id="header-btn" class="form-inline my-2 my-lg-0">
                            <a {% if is_granted('ROLE_CAN') %} href="{{ path('candidat')}}" {% elseif is_granted('ROLE_REC')%} href=" {{ path('recruteur') }}" {% endif %}class="header-btn shadow my-2 my-sm-0 ">
                            <i class="fa fa-user "></i>
                            <span>
										compte
                            </span>
                            </a>
                        </form>
                    {%  else %}
                        <form action="" id="header-btn" class="form-inline my-2 my-lg-0">
                            <a href="{{ path('login') }}"  class="header-btn shadow my-2 my-sm-0 ">Connexion</a>
                        </form>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</header>

{% block body %}
{% endblock %}

   {% else %}
    <div class="Container-fluid m-5  ">
    <h2>Oups</h2>
      <p>
        votre compte  n est pas actif un mail a  été envoyé afin que vous puissez l activité      
         <a href="{{path("resend.mail")}}" class="btn btn-primary">Renvoyé le mail </a> 
      </p>
    </div>
    {% endif %}
 <link rel="stylesheet" href=" {{ asset('assets/css/fileinput.min.js') }}">
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
 <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/Card-Carousel.js') }}"></script>
<script src="{{ asset('assets/js/datepicker.min.js') }}"></script>
<script src="{{ asset('owlcarousel/owl.carousel.min.js') }}"></script>
<script src ></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{{ asset('assets/js/jquery.waypoints.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.counterup.min.js')}}"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{{ asset('assets/js/app.js')}}"></script>
<script src="{{ asset('assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<!-- Page level custom scripts -->
<script src="{{ asset('assets/js/demo/datatables-demo.js') }}"></script>
{% block javascripts %}
<script>

$(document).ready(function () {
    $('#example').DataTable({
          "language": {
    "sProcessing": "Traitement en cours ...",
    "sLengthMenu": "Afficher _MENU_ lignes",
    "sZeroRecords": "Aucun résultat trouvé",
    "sEmptyTable": "Aucune donnée disponible",
    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
    "sInfoEmpty": "Aucune ligne affichée",
    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
    "sInfoPostFix": "",
    "sSearch": "Chercher:",
    "sUrl": "",
    "sInfoThousands": ",",
    "sLoadingRecords": "Chargement...",
    "oPaginate": {
      "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
    },
    "oAria": {
      "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
    }
  }
    });
});</script>
{% endblock %}

</body>

</html>